{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <div class="field-error alert alert-danger small py-1 mt-1">
        {%- for error in errors -%}
            <div class="">{{ error.message }}</div>
        {%- endfor -%}
    </div>
    {%- endif -%}
{%- endblock form_errors -%}



{% block datalist_widget %}
    <input list="{{ id }}_list" {{ block('widget_attributes') }}{% if value is not empty %}value="{{ value }}"{% endif %}>
    <datalist id="{{ id }}_list">
        {% for choice in choices %}
            <option value="{{ choice }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}