{% set page_id = 6 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
    <div id="bibliografia">


        <div class="notificacion-sin-datos {{ planificacion.bibliografiasPlanificacion[0] is defined ? 'd-none' : ''  }}">
            {% from '::macros.html.twig' import notificacion %}         
            {% set msg %}
                <span class="text-muted">No se ha cargado contenido en esta secci&oacute;n.</span>
            {% endset %}
            {{ notificacion(null, msg, 'secondary', '' ) }}
        </div>


        {{ form_start(form) }}

        {% form_theme form.bibliografiasPlanificacion 'jquery.collection.html.twig' 'PlanificacionesBundle:6-bibliografia:form_theme-bibliografia.html.twig' %}
        {#% form_theme form 'jquery.collection.html.twig' %#}
        {{ form_widget(form.bibliografiasPlanificacion) }} 


        {% if planificacion.puedeEditarse() %}
            <div class="form-row mt-3 {{ planificacion.bibliografiasPlanificacion[0] is not defined ? 'd-none' : ''  }}" id="botonera">
                <div class="col-xs-12 col-sm-2">            
                    <input type="submit" value="Guardar cambios" class="btn btn-success"/>      
                </div>
                {#        <div class="col-xs-12 offset-6 col-sm-2 text-right">            
                            <input type="reset" class="btn btn-secondary" value="Limpiar campos"/>
                        </div>#}
            </div>
        {% endif %}


        {{ form_end(form) }}




    </div>
{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    {% if planificacion.puedeEditarse() %}
        <script>

            $(document).ready(function () {

                contador = "{{ planificacion.bibliografiasPlanificacion| length }}";                

                $('.bibliografia-selector').collection({
                    position_field_selector: '.posicion',
                    add: '<a href="#" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Agregar bibliografía</a>',

                    after_add: function (collection, item) {
                        contador++;
                        console.log(contador);
                        $('.notificacion-sin-datos').hide();
                        $('#botonera').removeClass('d-none');

                        item.find('.js-select2').select2({});

                        item.find('.tempusdominus-datepicker').datetimepicker({
                            locale: 'es',
                            format: 'DD/MM/YYYY'
                        });

                    },
                    after_remove: function (collection, item) {
                        contador--;
                        console.log(contador);
                        if (contador === 0) {
                            //$('#botonera').addClass('d-none');
                            $('.notificacion-sin-datos').removeClass('d-none').show();
                        }
                    }
                });

            });
        </script>
    {% endif %}




{% endblock %}    





