{{ form_start(form) }}
<div class="form-row mb-3">
    <div class="col-12 col-md-10 formato-inputs-groups">
        {{ form_label(form.tipoBibliografia) }}
        <div class="mt-2">
            {% for child in form.tipoBibliografia %}
                <span>
                {{ form_widget(child) }}
                    {{ form_label(child, null, { label_attr: { 'class': 'font-weight-normal' } }) }}
            </span>
            {% endfor %}
        </div>
        {{ form_errors(form.tipoBibliografia) }}
    </div>
</div>
<div class="form-row mb-3">
    <div class="col-12 col-md-10">
        {{ form_label(form.infoCompleta) }}
        <div class="mt-2">
            {{ form_widget(form.infoCompleta) }}
            {{ form_errors(form.infoCompleta) }}
        </div>
    </div>
</div>

{% block form_actions %}
{% endblock %}

{{ form_end(form) }}