{% block planificacionesbundle_bibliografiaplanificacion_widget %}
    <div class="form-row">
        <div class="col-md-8 formato-inputs-groups">
            {{ form_label(form.tipoBibliografia) }}
            {{ form_widget(form.tipoBibliografia) }}
            {{ form_errors(form.tipoBibliografia) }}
        </div>
    </div>

    <div class="mb-5">

        <div class="form-row">
            <div class="col-md-10">
                {{ form_label(form.bibliografia.titulo) }}
                {{ form_widget(form.bibliografia.titulo) }}
                {{ form_errors(form.bibliografia.titulo) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                {{ form_label(form.bibliografia.autores) }}            
                {{ form_widget(form.bibliografia.autores) }}     
                {{ form_errors(form.bibliografia.autores) }}
            </div>
            <div class="col-md-5">
                {{ form_label(form.bibliografia.editorial) }}            
                {{ form_widget(form.bibliografia.editorial) }}
                {{ form_errors(form.bibliografia.editorial) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-3 col-xs-12">
                {{ form_label(form.bibliografia.anioEdicion) }}
                {{ form_widget(form.bibliografia.anioEdicion) }}
                {{ form_errors(form.bibliografia.anioEdicion) }} 
            </div>
            <div class="form-group col-sm-2 col-xs-12">
                {{ form_label(form.bibliografia.nroEdicion) }}
                {{ form_widget(form.bibliografia.nroEdicion) }}
                {{ form_errors(form.bibliografia.nroEdicion) }} 
            </div>
            <div class="form-group col-sm-3 col-xs-12">
                {{ form_label(form.bibliografia.issnIsbn) }}
                {{ form_widget(form.bibliografia.issnIsbn) }}
                {{ form_errors(form.bibliografia.issnIsbn) }} 
            </div>
        </div>

        <div class="form-row formato-inputs-groups">
            <div class="form-group col-sm-6 col-xs-12">
                {{ form_label(form.bibliografia.disponibleBiblioteca) }}
                {{ form_widget(form.bibliografia.disponibleBiblioteca) }}                
                {{ form_errors(form.bibliografia.disponibleBiblioteca) }} 
            </div>

        </div>
        <div class="form-row formato-inputs-groups">
            <div class="form-group col-sm-3 col-xs-12">                
                {{ form_label(form.bibliografia.disponibleOnline) }} 
                {{ form_widget(form.bibliografia.disponibleOnline) }}                                       
                {{ form_errors(form.bibliografia.disponibleOnline) }} 
            </div>
            <div class="form-group col-sm-3 col-xs-12">
                {% from '::macros.html.twig' import input_datetime_picker %}     
                {{  input_datetime_picker(form.bibliografia.fechaConsultaOnline, form.vars.id ~ '_picker', true ) }} 
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                {{ form_label(form.bibliografia.enlaceOnline) }}
                {{ form_widget(form.bibliografia.enlaceOnline) }}
                {{ form_errors(form.bibliografia.enlaceOnline) }} 
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-10 text-right">
                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                    <i class="fa fa-trash"></i>
                </a>

                <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1">
                    <i class="fa fa-plus"></i> Agregar bibliograf&iacute;a
                </a>

                {#<div class="col-md-1">
                    <a href="#" class="collection-duplicate btn btn-sm btn-primary">Duplicate</a>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
