{{ form_start(form) }}
<div class="row mb-3">
    <div class="col-md-3 formato-inputs-groups">
        {{ form_label(form.tipoBibliografia) }}
        {% for child in form.tipoBibliografia %}
            <div>
                {{ form_widget(child) }}
                {{ form_label(child, null, { label_attr: { 'class': 'font-weight-normal' } }) }}
            </div>
        {% endfor %}
        {{ form_errors(form.tipoBibliografia) }}
    </div>
    <div class="col-md-7">
        {{ form_label(form.bibliografia.infoCompleta) }}
        {{ form_widget(form.bibliografia.infoCompleta) }}
        {{ form_errors(form.bibliografia.infoCompleta) }}
    </div>
</div>

{% block form_actions %}

{% endblock %}

{{ form_end(form) }}