{% set page_id = 6 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        td:hover {
            cursor: move;
        }
    </style>
{% endblock %}

{% block tab_content %}

    {% if planificacion.puedeEditarse() %}
        <div class="mb-4">
            {% embed "::botonera-2col.html.twig" %}
                {% block left %}
                    <a href="{{ path('planif_bibliografia_nuevo', { id: planificacion.id }) }}" class="btn btn-success">
                        Nueva bibliografía
                    </a>
                {% endblock %}
            {% endembed %}
        </div>
    {% endif %}

    {% if planificacion.bibliografiasPlanificacion[0] is not defined %}
        {% from '::macros.html.twig' import notificacion %}
        {% set msg %}
            <span class="text-muted">No se ha cargado contenido en esta secci&oacute;n.</span>
        {% endset %}
        {{ notificacion(null, msg, 'secondary', '' ) }}
    {% else %}
        {% include "PlanificacionesBundle:6-bibliografia:tabla-bibliografia.html.twig" %}
    {% endif %}

{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>

    {% if planificacion.puedeEditarse() %}
        <script>

            $(document).ready(function () {
               

                var fixHelperModified = function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                };

                
                $("#tablaBibliografia tbody").sortable({
                    helper: fixHelperModified,
                    stop: updateIndex
                }).disableSelection();

                $("tbody").sortable({
                    distance: 5,
                    delay: 100,
                    opacity: 0.6,
                    cursor: 'move',
                    update: function () {
                    }
                });


            });
        </script>
    {% endif %}




{% endblock %} 