{# Utilizado en la sección revisar #}
<div>
    <div class="row">        
        <div class="col-sm-10">
             {#<label class="font-weight-bold">Temario</label>#}
            {% if resumen.temario is null %}
                    <div class="text-danger">{{ global_sd }}</div>
                {% else %}
                    <ul>
                    {% for b in resumen.bibliografia %}
                        <li>
                        <p> 
                            <strong>Título </strong> {{ b.bibliografia|default(global_sd) }} -                       
                            <strong>Tipo de Bibliografía </strong>{{ b.tipoBibliografia|default(global_sd) }} - 
                            <strong>Autores </strong>{{ b.bibliografia.autores|default(global_sd) }} -
                            <strong>Editorial </strong>{{ b.bibliografia.editorial|default(global_sd) }} -
                            <strong>Año de edición </strong>{{ b.bibliografia.anioEdicion|default(global_sd) }} -
                            <strong>N° de edición </strong>{{ b.bibliografia.nroEdicion|default(global_sd) }} -
                            <strong>ISSN o ISBN </strong>{{ b.bibliografia.issnIsbn|default(global_sd) }} -
                            <strong>Disponible en biblioteca </strong>
                            {% if not b.bibliografia.disponibleBiblioteca %}
                                No
                            {% else %}
                                Sí
                            {% endif %}
                            <strong>Disponible online </strong>
                            {% if not b.bibliografia.disponibleOnline %}
                                No
                            {% else %}
                                Sí
                                {# fix de esto, guarda siempre la fecha#}
                                <strong>Fecha consulta online </strong>{{ b.bibliografia.fechaConsultaOnline|date("d/m/Y") }} -
                                <strong>Enlace </strong>{{ b.bibliografia.enlaceOnline|default(global_sd) }} 
                            {% endif %}
                            
                        </p>
                        </li>
                    {% endfor %}
                    </ul> 
                {% endif %}              
        </div>       
    </div>


    <div class="row mt-4">  
        <div class="col-sm-10 text-right">
            <a class="btn btn-outline-primary" href="{{ path('planif_bibliografia_editar', {id : planificacion.id}) }}">Modificar</a>            
        </div>
    </div>

</div>