{% set page_id = 6 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% include "PlanificacionesBundle:6-bibliografia:form.html.twig" %}

    <div class="form-row">
        <div class="form-group col-md-10">
            {% embed '::botonera.html.twig' %}

                {% block left %}
                    {% if planificacion.puedeEditarse() %}
                        <a href="{{ path('planif_bibliografia_editar', { id : bibliografia.id }) }}"
                           class="btn btn-success" title="Editar registro">
                            <i class="fa fa-edit"></i>&nbsp;Editar
                        </a>
                    {% endif %}
                {% endblock %}

                {% block right %}
                    {% if planificacion.puedeEditarse() %}
                        {{ form_start(delete_form) }}
                        <button role="submit" class="btn btn-danger pedir-confirmacion"
                                data-msg='¿Esta seguro que desea borrar esta bibliografía?'>
                            <i class="fa fa-trash"></i>&nbsp;Borrar
                        </button>
                        {{ form_end(delete_form) }}
                    {% endif %}

                    <a href="{{ path('planif_bibliografia_index', { id: planificacion.id }) }}" class="btn btn-outline-secondary">
                        Ir al listado
                    </a>
                {% endblock %}

            {% endembed %}
        </div>
    </div>




{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
