{% extends '::base.html.twig' %}

{% set is_planificacion_definida =  planificacion is defined and planificacion.id is not null %}
{% set disabled =  is_planificacion_definida ? '' : 'disabled' %}
{% if info_basica_route is not defined %}
    {% set info_basica_route =  path('planif_info_basica_editar', {id : planificacion.id}) %}
{% endif %}
{% set eActual = planificacion.getEstadoActual() %}

{% if eActual is not null %}
    {% set ROL_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}
    {% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}

    {% set mostrar_comentarios = eActual.codigo == 4 
           or (eActual.codigo == 3 and (app.user.tieneRol(ROL_ADMIN) or app.user.tieneRol(ROL_SA)) )
    %}
{% endif %}

{#{% from _self import mostrar_comentarios %}#}

{% block navbar2 %}             
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}   

            {% if is_planificacion_definida  %}     

                {#<button class="btn btn-sm btn-outline-light py-1">
                    <i class="fa fa-tasks"></i>
                    Revisar
                </button>#}                


                {% if eActual is not null  %}                                           

                    {% if mostrar_comentarios|default(false) %}  
                        {#  En revision ... #}

                        <button class="modal-comentarios btn btn-sm btn-outline-light py-1 mr-2" title="Comentarios realizados por Sectrataría Académica">                            
                            <i class="fa fa-comment-alt"></i>&nbsp;COMENTARIOS
                        </button>

                    {% endif %}   


                    <button class="mostrar-historico btn btn-sm btn-{{ eActual.getCssClass() }} py-1">
                        <i class="fa fa-history"></i>&nbsp;
                        {{  planificacion.getEstadoActual().getNombre()|upper }}                         
                    </button>

                    <div class="dropdown" style="display:inline">
                        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Imprimir</a>
                            <a class="dropdown-item" href="#">Duplicar</a>
                            <a class="dropdown-item" href="#">Eliminar</a>
                            <a class="dropdown-item" href="#">Histórico estados</a>
                        </div>

                    </div>
                {% endif %}            
            {% endif %}            
        {% endblock %}
    {% endembed %}
{% endblock %}


{% set full_width = true %}

{% block content %}
    <div id="planificaciones" class="bg-white">        

        {#% include 'PlanificacionesBundle:Planificaciones:navbar.html.twig' %#}    

        {#        <div class="light-font mb-0">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb bg-azul mb-0">
                            <li class="breadcrumb-item">
                                <a class="text-color-white" href="#">PLANIFICACIONES</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title|default('Sin título') }}</li>
                        </ol>
                    </nav>
                </div>
        #}
        <div class="row no-gutters pt-0" id="menuLateral">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    {% from 'PlanificacionesBundle::macros.html.twig' import nav_link %}

                    {# Información básica #}
                    {% set html_id = 'tab-info-basica' %}        
                    {% set label = 'Información básica' %}        
                    {% set modal_title = 'Errores en la información básica' %}        
                    {% set class = (page_id == 1 ? 'active' : '') ~ ' ' ~ disabled %}           
                    {% set path = info_basica_route ?: '#' %}                                                                          
                    {{ nav_link(html_id, path, label, modal_title, errores.info_basica|default(null), class, is_planificacion_definida) }}

                    {# Equipo docente #}
                    {% set html_id = 'tab-equipo-docente' %}        
                    {% set label = 'Equipo docente' %}        
                    {% set modal_title = 'Errores en el equipo docente' %}        
                    {% set class = (page_id == 2 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_equipo_docente_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.eq_docente|default(null), class, is_planificacion_definida) }}


                    {# Aprobación de la asignatura #}
                    {% set html_id = 'tab-aprobacion' %}        
                    {% set label = 'Aprobación de la asignatura' %}        
                    {% set modal_title = 'Errores en requisitos de aprobación' %}        
                    {% set class = (page_id == 3 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_aprobacion_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.aprobacion|default(null), class, is_planificacion_definida) }}


                    {# Objetivos de la asignatura #}
                    {% set html_id = 'tab-objetivos' %}        
                    {% set label = 'Objetivos de la asignatura' %}        
                    {% set modal_title = 'Errores en los objetivos de la asignatura' %}        
                    {% set class = (page_id == 4 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_objetivos_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.objetivos|default(null), class, is_planificacion_definida) }}


                    {# Resultados de Aprendizajes #}
                    {% set html_id = 'tab-resultados' %}        
                    {% set label = 'Resultados de aprendizajes' %}        
                    {% set modal_title = 'Errores en los resultados de aprendizaje' %}        
                    {% set class = (page_id == 11 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_resultados_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.resultados|default(null), class, is_planificacion_definida) }}

                    {# Temario #}
                    {% set html_id = 'tab-temario' %}        
                    {% set label = 'Temario' %}        
                    {% set modal_title = 'Errores en el temario' %}        
                    {% set class = (page_id == 5 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_temario_index', {id : planificacion.id}) : '#' %}
                    {{ nav_link(html_id, path, label, modal_title, errores.temario|default(null), class, is_planificacion_definida) }}

                    {# Bibliografía #}
                    {% set html_id = 'tab-bibliografia' %}        
                    {% set label = 'Bibliografía' %}        
                    {% set modal_title = 'Errores en los resultados de aprendizaje' %}        
                    {% set class = (page_id == 6 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_bibliografia_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.bibliografia|default(null), class, is_planificacion_definida) }}

                    {# Cronograma de actividades #}
                    {% set html_id = 'tab-cronograma' %}        
                    {% set label = 'Cronograma de actividades' %}        
                    {% set modal_title = 'Errores en el cronograma' %}        
                    {% set class = (page_id == 7 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_act_curriculares_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.cronograma|default(null), class, is_planificacion_definida) }}

                    {# Distribucion de carga horaria #}
                    {# Ahora se muestra en popup #}                    
                    {#% set html_id = 'tab-cronograma' %}        
                    {% set label = 'Distribucion de carga horaria' %}        
                    {% set modal_title = 'Errores en la distribución de la carga horaria' %}        
                    {% set class = (page_id == 8 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_dist_carga_horaria_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.dist_horaria|default(null), class, is_planificacion_definida) }#}

                    {# Viajes académicos #}
                    {% set html_id = 'tab-viajes-academicos' %}        
                    {% set label = 'Viajes académicos' %}        
                    {% set modal_title = 'Errores en los viajes académicos' %}        
                    {% set class = (page_id == 9 ? 'active' : '') ~ ' ' ~ disabled %}             
                    {% set path = is_planificacion_definida ? path('planif_viajes_acad_editar', {id : planificacion.id}) : '#' %}                            
                    {{ nav_link(html_id, path, label, modal_title, errores.viajes|default(null), class, is_planificacion_definida) }}


                    <a class="nav-link {{ page_id == 10 ? 'active' : ''}}  {{ disabled }}" id="tab-revisar"  href="{{ is_planificacion_definida ? path('planificaciones_revisar', {id : planificacion.id}) : '#' }}">
                        Revisar borrador  
                        <i class="fa fa-tasks text-secondary float-right"></i>
                    </a>

                </div>


            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="tab-content" id="tab-content">                    
                    <div>
                        <div class="container" >
                            <div class="my-3">
                                {% include '::notificaciones.html.twig' %}

                                {% if planificacion.enRevision() %}
                                    <div class="">
                                        {% from '::macros.html.twig' import notificacion %} 
                                        {% set fDesde = planificacion.getHistoricoEstadoActual().getFechaDesde() %}
                                        {% set msg %}
                                            <p class='mb-1'>Esta planificación fue enviada a revisión el <b>{{ fDesde|date('d/m/Y') }}</b> a las <b>{{ fDesde|date('H:i') }}</b> Hs.</p>
                                            <p>Secretaría académica revisará la planificación e indicará correcciones o aprobará la misma.</p>
                                        {% endset %}
                                        {{ notificacion('Planificación en revisión', msg, 'warning', '', 'fa-exclamation-circle', 'fa-3x' ) }}
                                    </div>                                
                                {% elseif planificacion.enCorreccion() %}
                                    <div class="">
                                        {% from '::macros.html.twig' import notificacion %} 
                                        {% set fDesde = planificacion.getHistoricoEstadoActual().getFechaDesde() %}
                                        {% set msg %}
                                            <p class='mb-10'>
                                                Esta planificación require algunas correcciones. Puede ver las mismas presionando el botón <b>"Comentarios"</b> ubicado en la parte superior derecha.
                                            </p>
                                            <p>
                                                Una vez que realize todas las correcciones sugeridas, presione el botón <b>"Enviar a revisión"</b> ubicado en la parte inferior de la sección <b>"Revisar borrador"</b>.
                                            </p>
                                        {% endset %}
                                        {{ notificacion('Planificación pendiente de correcciones', msg, 'error', '' ) }}
                                    </div>
                                {% endif %}
                            </div>
                            {#                            <div class="mb-4 mt-4">#}
                            {#{% block titulo_principal %}
                                <div class="">
                                    <span class="h4 mr-2">
                                        {% if is_planificacion_definida and planificacion.getEstadoActual()  %}
                                            <i class="fa fa-edit"></i>
                                        {% else %}
                                            <i class="fa fa-plus"></i>
                                        {% endif %}
                                    </span>
                                    <span class="h3 font-weight-bold">
                                        {{ page_title }}
                                    </span>

                                    {% if is_planificacion_definida and planificacion.getEstadoActual()  %}
                                        <span class="lead opacity-50">
                                            &nbsp;/&nbsp;
                                            <span class="">
                                                {{ planificacion.getAnioAcad() }}
                                            </span>
                                            &nbsp;/&nbsp;
                                            <span class="text-primary">                                                
                                                {{ planificacion.getEstadoActual() }} <a href="#" class="mostrar-historico">
                                                    <small>
                                                        <i class="fa fa-history"></i>
                                                    </small>
                                                </a>
                                            </span>
                                        </span>
                                    {% endif %}
                                </div>
                            {% endblock %} #}
                            {#{% block subtitulo %}
                                {% if subtitulo is defined %}
                                    <h4 class="font-weight-bold text-color-gray-600 mt-2">
                                        {{ subtitulo }}
                                    </h4>
                                {% endif %}
                            {% endblock %} #}
                            {#                            </div>#}
                            <div class="py-4">                    
                                {% block tab_content %}
                                {% endblock %}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'PlanificacionesBundle::historico-modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {
            $('.mostrar-historico').click(function (e) {

                var hist = $('#historico').clone();
                hist.removeClass('d-none');


                var dialog = bootbox.dialog({
                    title: "<span class='font-weight-bold'>Histórico de cambios</span>",
                    message: hist.html(),
                    size: 'xl',
                    backdrop: true,
                    onEscape: true,
                    centerVertical: true,
                    className: '',
                    closeButton: true,
                    buttons: {
                        cancel: {
                            label: 'Cerrar',
                            className: 'btn-primary'
                        }
                    },

                });

                dialog.find('.modal-body').addClass('p-0');
            });



        });

    </script>

    {% if mostrar_comentarios|default(false) %}  
        {% include 'PlanificacionesBundle::modal-comentarios.js.twig' %}
    {% endif %}

    {% if is_planificacion_definida %}

        {% include 'PlanificacionesBundle::modal-errores.js.twig' %}

    {% endif %}


    <script src="{{ asset('bundles/planificaciones/js/planificaciones.js') }}"></script>

    {# JQUERY COLLECTION #}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>


{% endblock %}