{% extends '::base.html.twig' %}

{% set is_planificacion_definida =  planificacion is defined and planificacion.id is not null %}
{% set disabled =  is_planificacion_definida ? '' : 'disabled' %}
{% if info_basica_route is not defined %}
    {% set info_basica_route =  path('planif_info_basica_editar', {id : planificacion.id}) %}
{% endif %}


{% block content %}
    <div id="planificaciones" class="bg-white">

        {#% include 'PlanificacionesBundle:Planificaciones:navbar.html.twig' %#}    

        <div class="light-font mb-0">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb bg-azul mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-color-white" href="#">PLANIFICACIONES</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page_title|default('Sin título') }}</li>
                </ol>
            </nav>
        </div>

        <div class="row no-gutters pt-0" id="menuLateral">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link {{ page_id == 1 ? 'active' : ''}}" id="tab-info-basica" href="{{ info_basica_route ?: '#'}}" >
                        Información básica
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 2 ? 'active' : ''}} {{ disabled }}" id="tab-equipo-docente" href="{{ is_planificacion_definida ? path('planif_equipo_docente_editar', {id : planificacion.id}) : '#' }}" >
                        {#                    <a class="nav-link " id="tab-equipo-docente" href="#" >#}
                        Equipo docente
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 3 ? 'active' : ''}} {{ disabled }}" id="tab-aprobacion"  href="{{ is_planificacion_definida ? path('planif_aprobacion_editar', {id : planificacion.id}) : '#' }}">
                        Aprobación de la asignatura
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 4 ? 'active' : ''}} {{ disabled }}" id="tab-objetivos"  href="{{ is_planificacion_definida ? path('planif_objetivos_editar', {id : planificacion.id}) : '#' }}">
                        Objetivos de la asignatura
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 5 ? 'active' : ''}} {{ disabled }} " id="tab-temario"  href="{{ is_planificacion_definida ? path('planif_temario_editar', {id : planificacion.id}) : '#' }}">
                        Temario
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 6 ? 'active' : ''}} {{ disabled }} " id="tab-bibliografia"  href="{{ is_planificacion_definida ? path('planif_bibliografia_editar', {id : planificacion.id}) : '#' }}">
                        Bibliografia
                        <i class="far float-right"></i>
                    </a>

                    <a class="nav-link {{ page_id == 7 ? 'active' : ''}}  {{ disabled }}" id="tab-cronograma"  href="{{ is_planificacion_definida ? path('planif_act_curriculares_editar', {id : planificacion.id}) : '#' }}">
                        Cronograma de actividades
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 8 ? 'active' : ''}}  {{ disabled }}" id="tab-distribucion"  href="{{ is_planificacion_definida ? path('planif_dist_carga_horaria_editar', {id : planificacion.id}) : '#' }}">
                        Distribucion de carga horaria
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 9 ? 'active' : ''}}  {{ disabled }}" id="tab-viajes-academicos"  href="{{ is_planificacion_definida ? path('planif_viajes_acad_editar', {id : planificacion.id}) : '#' }}">
                        Viajes académicos
                        <i class="far float-right"></i>
                    </a>
                    <a class="nav-link {{ page_id == 10 ? 'active' : ''}}  {{ disabled }}" id="tab-revisar"  href="{{ is_planificacion_definida ? path('planificaciones_revisar', {id : planificacion.id}) : '#' }}">
                        Revisar borrador                        
                    </a>

                </div>


            </div>

            <div class="col-9">                                
                <div class="tab-content" id="tab-content">                    
                    <div>
                        <div class="container" >
                            <div class="my-3">
                                {% include '::notificaciones.html.twig' %}
                            </div>
                            <div class="mb-4 mt-4">
                                {% block titulo_principal %}
                                    <div class="">
                                        <span class="h4 mr-2">
                                            {% if is_planificacion_definida and planificacion.getEstadoActual()  %}
                                                <i class="fa fa-edit"></i>
                                            {% else %}
                                                <i class="fa fa-plus"></i>
                                            {% endif %}
                                        </span>
                                        <span class="h3 font-weight-bold">
                                            {{ page_title }}
                                        </span>

                                        {% if is_planificacion_definida and planificacion.getEstadoActual()  %}
                                            {#                                            {% set estado %}#}
                                            <span class="lead opacity-50">
                                                &nbsp;/&nbsp;
                                                <span class="">
                                                    {{ planificacion.getAnioAcad() }}
                                                </span>
                                                &nbsp;/&nbsp;
                                                <span class="text-primary">                                                
                                                    {{ planificacion.getEstadoActual() }} <a href="#" class="mostrar-historico">
                                                        <small>
                                                            <i class="fa fa-history"></i>
                                                        </small>
                                                    </a>
                                                </span>
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endblock %} 
                                {#{% block subtitulo %}
                                    {% if subtitulo is defined %}
                                        <h4 class="font-weight-bold text-color-gray-600 mt-2">
                                            {{ subtitulo }}
                                        </h4>
                                    {% endif %}
                                {% endblock %} #}
                            </div>
                            <div class="py-4">                    
                                {% block tab_content %}
                                {% endblock %}   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'PlanificacionesBundle::historico-modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        SECCIONES = {
            get_docente: "{{ path('planificaciones_ajax_equipo_docente_get_docente', {'legajo' : '--LEGAJO--'}) }}",
            get_asignaturas: "{{ path('ajax_get_asignaturas', {'carrera': '--CARRERA--'}) }}",
            get_asignatura: "{{ path('ajax_get_asignatura', {'carrera': '--CARRERA--', 'codigo': '--CODIGO--'}) }}",
        };

        $(document).ready(function () {
            $('.mostrar-historico').click(function (e) {

                var hist = $('#historico').clone();
                hist.removeClass('d-none');


                var dialog = bootbox.dialog({
                    title: "<span class='font-weight-bold'>Histórico de cambios</span>",
                    message: hist.html(),
                    size: 'xl',
                    backdrop: true,
                    onEscape: true,
                    centerVertical: true,
                    className: 'lala',
                    closeButton: true,
                    buttons: {
                        cancel: {
                            label: 'Cerrar',
                            className: 'btn-primary'
                        }
                    },

                });

                dialog.find('.modal-body').addClass('p-0');
            });

        });

    </script>


    <script src="{{ asset('bundles/planificaciones/js/planificaciones.js') }}"></script>

    {# JQUERY COLLECTION #}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>


{% endblock %}