{% macro notificacion(titulo, msg, tipo = 'success', class = '', fa_icon = 'fa-exclamation-circle', icon_size = 'fa-2x' ) %}        
    <div class="alert notificacion notificacion-{{ tipo }} {{ class }} alert-dismissible fade show bg-light py-2 border border-{{ tipo }}" role="alert">

        <div class="row">
            <div class="col-1 py-2 text-center">
                <i class="fas {{ icon_size }} {{ fa_icon }} text-{{ tipo }} centrate"></i>
            </div>
            <div class="col-11 py-2">
                {% if titulo != null %}
                    <h6 class="font-weight-bold text-{{ tipo }}">
                        {{ titulo }}
                    </h6>
                {% endif %}
                <p class="mb-0 text-{{ tipo }} msg">
                    {{ msg }}
                </p>
            </div>
            <div class="text-right">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>

    </div>
{% endmacro %}


{% macro input_datetime_picker(form_field, html_id, date_only = false ) %}     

    <label for="{{ html_id }}" class="font-weight-bold mb-0">{{ form_label( form_field ) }}</label>
    <div class="input-group date {{ date_only ? 'tempusdominus-datepicker' : 'tempusdominus-datetimepicker' }}" id="{{ html_id }}" data-target-input="nearest">
        {{ form_widget(form_field, { 
        attr: {
            'data-target': '#' ~ html_id,
            'class': 'form-control datetimepicker-input'
        }
      })
        }}
        <div class="input-group-append" data-target="#{{ html_id }}" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    <div>
        {{ form_errors( form_field ) }}
    </div>

{% endmacro %}
