{# Utilizado en la sección revisar #}
<div>

    <div class="row">        
        <div class="col-sm-10">
            {% if resumen.viajes[0] is not defined %}
                <p class="text-muted">
                    Sin definir.
                </p>
            {% else %}
                <ul>
                    {% for viaje in resumen.viajes %}
                        <li>
                            <label class="font-weight-bold text-uppercase">                      
                                Viaje #{{ loop.index }}
                            </label>
                            <br/>

                            <span class="font-weight-bold">
                                Descripción
                            </span>
                            <p>
                                {{ viaje.descripcion|nl2br }}
                            </p>
                            
                            <div class="form-row mb-3">
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Objetivos
                                    </label>
                                    <div>
                                        {{ viaje.objetivos|nl2br }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Recorrido
                                    </label>
                                    <div>
                                        {{ viaje.recorrido|nl2br }}
                                    </div>
                                </div>                                
                            </div>

                            <div class="form-row mb-3">
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Cantidad de Estudiantes
                                    </label>
                                    <div>
                                        {{ viaje.cantEstudiantes|default(global_sd) }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Cantidad de Docentes
                                    </label>
                                    <div>
                                        {{ viaje.cantDocentes|default(global_sd) }}
                                    </div>
                                </div>                                
                            </div>

                            <div class="form-row mb-3">
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Fecha de salida
                                    </label>
                                    <div>
                                        {{ viaje.fechaTentativa|date("d/m/Y") }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Fecha de regreso
                                    </label>
                                    <div>
                                        {{ viaje.fechaTentativaRegreso|date("d/m/Y") }}
                                    </div>
                                </div>                                
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Movilidad
                                    </label>
                                    <div>
                                        {{ viaje.vehiculo.nombre|default(global_sd) }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="font-weight-bold">
                                        Asignaturas vinculadas
                                    </label>
                                    <div>
                                        {{ viaje.asignaturas|default(global_sd) }}
                                    </div>
                                </div>                                
                            </div>
                        </li>
                    {% endfor %}
                </ul> 
            {% endif %}              
        </div>       
    </div>


    <div class="mt-4">          
        <a class="btn btn-outline-primary" href="{{ path('planif_viaje_index', {id : planificacion.id}) }}">
            <i class="fa fa-edit"></i>&nbsp;Modificar
        </a>                    
    </div>

</div>