{% extends 'base.html.twig' %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('permisos_index') }}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light p-5">

                <div class="row">

                    <div class="col-sm-2">
                        <label class="font-weight-bold">C&oacute;digo</label>
                        <div class="" >
                            {{ permiso.codigo }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label class="font-weight-bold">T&iacute;tulo</label>
                        <div class="" >
                            {{ permiso.titulo }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="font-weight-bold">Descripci&oacute;n</label>
                        <div class="" >
                            {{ permiso.descripcion }}
                        </div>
                    </div>
                </div>

                {#<div class="row">
                    <div class="col-sm-12">
                        <label class="font-weight-bold">Roles que contienen este permiso</label>
                        <div class="" >
                            {{ permiso.getListaRoles()|default('-') }}
                        </div>
                    </div>
                </div>#}

            </div>

            {% embed '::botonera.html.twig' %}

                {% block left %}
                    <a class="btn btn-primary" href="{{ path('permisos_edit', { 'id': permiso.id }) }}">Editar</a>
                {% endblock %}
                {% block right %}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Borrar" class="btn btn-outline-danger pedir-confirmacion" data-msg='¿Esta seguro que desea borrar este permiso?'>
                    {{ form_end(delete_form) }}
                {% endblock %}

            {% endembed %}


        </div>
    </div>

{% endblock %}
