<div class="py-4 px-5 bg-light">

    {{ form_start(form) }}

    <div class="row mb-3 mb-lg-4">
        <div class="col-12 col-lg-9">
            {{ form_label(form.carrera) }}
            {{ form_widget(form.carrera) }}
            {{ form_errors(form.carrera) }}
        </div>
        <div class="col-12 col-lg-3 mt-3 mt-lg-0">
            {{ form_label(form.anioAcad) }}
            {{ form_widget(form.anioAcad) }}
            {{ form_errors(form.anioAcad) }}
        </div>
    </div>

    <div class="row mb-3 mb-lg-4">
        <div class="col-12 col-lg-9">
            {{ form_label(form.asignatura) }}
            {{ form_widget(form.asignatura) }}
            {{ form_errors(form.asignatura) }}
        </div>
        <div class="col-12 col-lg-3 mt-3 mt-lg-0">
            {{ form_label(form.estadoActual) }}
            {{ form_widget(form.estadoActual) }}
            {{ form_errors(form.estadoActual) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6">
            <button role="submit" class="btn btn-success">
                <i class="fa fa-filter"></i>&nbsp;Filtrar
            </button>
            <span class="ml-3 text-success">
                {{ paginado.getTotalItemCount }}&nbsp;registro(s) <span class="d-none d-lg-inline">encontrado(s).</span>
            </span>
        </div>
        <div class="col-12 col-sm-6 text-right">
            <a href="{{ path('planificaciones_homepage') }}" class="btn btn-secondary">
                <i class="fa fa-times"></i>&nbsp;Limpiar filtros
            </a>
        </div>
    </div>

    {{ form_end(form) }}
</div>
