{# DocenteResponsablePlanificacionType::getBlockPrefix() + '_widget' #}
{% block planificacionesbundle_docente_widget %}
    <div class="">
        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.nomape) }}
                {{ form_widget(form.nomape) }}
                {{ form_errors(form.nomape) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.nroDni) }}
                {{ form_widget(form.nroDni) }}
                {{ form_errors(form.nroDni) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.telefono) }}
                {{ form_widget(form.telefono) }}
                {{ form_errors(form.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>
{% endblock %}


{# DocenteColaboradorPlanificacionType::getBlockPrefix() + '_widget' #}
{% block planificacionesbundle_doc_colabor_planif_widget %}
    <div class="mb-5">
        {{ form_widget(form) }}
        <div class="form-row">
            <div class="col-md-3">
                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                    <i class="fa fa-trash"></i>
                </a>

                <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1">
                    <i class="fa fa-plus"></i>
                </a>

                {#<div class="col-md-1">
                    <a href="#" class="collection-duplicate btn btn-sm btn-primary">Duplicate</a>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{# DocenteAdscriptoPlanificacionType::getBlockPrefix() + '_widget' #}
{% block planificacionesbundle_doc_adscripto_planif_widget %}
    <div class="mb-5">

        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.docente.nomape) }}
                {{ form_widget(form.docente.nomape) }}
                {{ form_errors(form.docente.nomape) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.docente.nroDni) }}
                {{ form_widget(form.docente.nroDni) }}
                {{ form_errors(form.docente.nroDni) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.docente.telefono) }}
                {{ form_widget(form.docente.telefono) }}
                {{ form_errors(form.docente.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.docente.email) }}
                {{ form_widget(form.docente.email) }}
                {{ form_errors(form.docente.email) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.resolucion) }}
                {{ form_widget(form.resolucion) }}
                {{ form_errors(form.resolucion) }}
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-3">

                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                    <i class="fa fa-trash"></i>
                </a>

                <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
            
    </div>

{% endblock %}