{% extends '::base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}
            {% if puede_crear %}
                <a href="{{ path('planificaciones_nueva') }}" class="">
                    <i class="fa fa-plus"></i>
                    Nueva planificaci&oacute;n
                </a>     
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="">
            <div class="shadow">

                {% include 'PlanificacionesBundle:planificacion:form-buscador.html.twig'%}



                {#   {% from '::macros.html.twig' import notificacion %}

                   {{ notificacion('Aviso', 'Tiene revisiones pendientes', 'warning') }}

                   <div class="mt-3"></div>

                   {{ notificacion('Importante!', 'Error en datos de contacto', 'error') }}

                   <div class="mt-3"></div>

                   {{ notificacion('Ok!', 'Parece que anduvo todo', 'success') }}#}

            </div>

            {% if paginado[0] is defined %}

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div id="accordion" class="acordion">
                            {%for p in paginado %}
                                {% set id = 'collapse' ~ loop.index %}
                                <div class="card mb-1">
                                    <div class="card-header card-header-azul" id="heading{{ loop.index }}">
                                        <h6 class="mb-0 acordeon-header">
                                            <button class="btn btn-link align-middle" data-toggle="collapse" data-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}" style="text-decoration: none;">
                                                {{ p.getTitulo()|upper }}
                                                <i class="fa fa-1x fa-caret-down"></i>
                                            </button>
                                        </h6>
                                    </div>

                                    <div id="{{ id }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                        <div class="card-body bg-light">
                                            <p class='font-weight-bold'>
                                                {{ nom_carrera(p.carrera) ~ ' - Plan ' ~ p.plan }}                                                            
                                            </p>
                                            <p class='mb-0 mt-4'> 
                                                <span class='font-weight-bold'> Docente responsable: </span>
                                                {% if p.getDocenteResponsable() %}
                                                    {{ p.getDocenteResponsable.getPersona().getApeNom() }}                                               
                                                {% else %}
                                                    <span class='text-muted'>Sin definir</span>
                                                {% endif %}
                                            </p>
                                            <p class='mb-0'>             
                                                <span class='font-weight-bold'>Estado actual: </span>
                                                <span class=''>{{ p.getEstadoActual() }}</span>                                                            
                                            </p>
                                            <p class='mb-0'>             
                                                <span class='font-weight-bold'>Ultima modificaci&oacute;n: </span>
                                                <span class=''>{{ p.getUltimaModif()|date('d/M/Y H:i') ~ ' Hs.' }}</span>                                                            
                                            </p>
                                            <div class="mt-5 text-right">

                                                <a href='{{ path('planif_info_basica_editar', {id : p.id})}} ' class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                                    Editar
                                                </a>
                                                <a href="#" class="btn btn-outline-secondary">
                                                    Duplicar
                                                </a>
                                                <a href="#" class="btn btn-outline-secondary">
                                                    Imprimir
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>                    
                <div class="navigation mt-3 mb-5 centrate-x">                        
                    {{ knp_pagination_render(paginado) }}
                </div>                    



            {% else %}
                <div class="bg-light p-4 mt-4 shadow">
                    No se encontro ninguna planificacion.
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/planificaciones/js/planificaciones.js') }}"></script>

    <script>

        $(document).ready(function () {

{#            $('.select-carrera').select2({
                placeholder: 'Seleccione una carrera',
                allowClear: true
            });#}

        });
        
        $(document).ready(function () {

            select_carreras = $('#buscador_carrera');
            select_asignatura = $('#buscador_codigoAsignatura');
            ASIGNATURA_ACTUAL = "{{ app.request.get('buscador') is not null ? app.request.get('buscador')['codigoAsignatura'] : null }}";
            console.log("asignatura actual: " + ASIGNATURA_ACTUAL);
            

            // combo de carreras:           
            select_carreras.change(actualizarAsignaturas);

            //combo de asignaturas:
            select_asignatura.change(function (e) {
                var option = $(this).children("option:selected");
                var asignatura = JSON.parse(option.attr('data-json'));
            });

            //disparar el evento en las carreras lo que permite que se cargan las asignaturas y luego la infor de la asignatura
            select_carreras.trigger('change');

        });


    </script>

{% endblock %}