{% extends '::base.html.twig' %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            {% if puede_crear %}
                <a href="{{ path('planificaciones_nueva') }}" class="">
                    <i class="fa fa-plus"></i>
                    Nueva planificaci&oacute;n
                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="">
            <div class="">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="shadow">

                {% include 'PlanificacionesBundle:planificacion:form-buscador.html.twig'%}

            </div>

            {% if paginado[0] is defined %}

                <div class="row mt-4">
                    <div class="col-md-12">

                        <div class="bg-light p-4 mb-3 shadow">
                            Se encontraron <b>{{ paginado.getTotalItemCount }}</b> planificaciones.
                        </div>


                        <div id="accordion" class="acordion">
                            {%for p in paginado %}
                                {% set id = 'collapse' ~ loop.index %}
                                <div class="card mb-1">
                                    <div class="card-header card-header-azul" id="heading{{ loop.index }}">
                                        <h6 class="mb-0 acordeon-header">
                                            <button class="btn btn-link align-middle" data-toggle="collapse" data-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}" style="text-decoration: none;">                                                

                                                <span class="text-white font-weight-bold">
                                                    {{ p.getTitulo()|upper }}
                                                </span>
                                                <span class="right centrate-y">
                                                    {% set eActual = p.getEstadoActual() %} 
                                                    {% set class = 'success' %}
                                                    {% if eActual.codigo == 2 or eActual.codigo == 4 %}                                                            
                                                        {% set class = 'light' %}
                                                    {% elseif eActual.codigo == 3 %}                                                            
                                                        {% set class = 'warning' %}
                                                    {% endif %}

                                                    {#   <a href="#" class="mr-2 modal-historico small text-uppercase badge badge-{{ class }}">#}
                                                    <span class='mr-2 small text-uppercase badge badge-{{ class }}' style='cursor:default;'>
                                                        {{ eActual.nombre }}
                                                    </span>
                                                    <i class="fa fa-1x fa-caret-down"></i>
                                                </span>
                                            </button>
                                        </h6>
                                    </div>

                                    <div id="{{ id }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                        <div class="card-body bg-light">
                                            <h4 class='font-weight-bold text-uppercase h6'>
                                                {{ nom_carrera(p.carrera) ~ ' - Plan ' ~ p.plan }}
                                            </h4>
                                            <p class='mb-0 mt-4'>
                                                <span class='font-weight-bold'> Docente responsable: </span>
                                                {% if p.getDocenteResponsable() %}
                                                    {{ p.getDocenteResponsable.getPersona().getApeNom() }}
                                                {% else %}
                                                    <span class='text-muted'>Sin definir</span>
                                                {% endif %}
                                            </p>
                                            <p class='mb-0'>
                                                <span class='font-weight-bold'>Estado actual: </span>
                                                <span class=''>{{ p.getEstadoActual() }}</span>
                                            </p>
                                            <p class='mb-0'>
                                                <span class='font-weight-bold'>Ultima modificaci&oacute;n: </span>
                                                <span class=''>{{ p.getUltimaModif()|date('d/m/Y H:i') ~ ' Hs.' }}</span>
                                            </p>
                                            <div class="mt-5 row">
                                                <div class="col-12 col-md-7 offset-md-5">

                                                    <div class="row">
                                                        <div class="col-12 col-md-8">
                                                            <a href='{{ path('planif_info_basica_editar', {id : p.id})}}' class="btn btn-primary">
                                                                <i class="fa fa-edit"></i>
                                                                Ver/Editar
                                                            </a>
                                                            <a href="{{ path('planificaciones_duplicar', {id : p.id})}}" class="btn btn-outline-secondary">
                                                                <i class="fa fa-copy"></i>
                                                                Duplicar
                                                            </a>
                                                            <a href="#" class="btn btn-outline-secondary">
                                                                <i class="fa fa-print"></i>
                                                                Imprimir
                                                            </a>
                                                        </div>
                                                        <div class="col-12 col-md-4 text-right">
                                                            <a href="{{ path('planificaciones_borrar', {id : p.id}) }}" class="btn btn-outline-danger">
                                                                <i class="fa fa-trash"></i>
                                                                Eliminar
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="navigation mt-3 mb-5 centrate-x">
                    {{ knp_pagination_render(paginado) }}
                </div>



            {% else %}
                <div class="bg-light p-4 mt-4 shadow">
                    No se encontro ninguna planificacion.
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/planificaciones/js/planificaciones.js') }}"></script>

    <script>

        $(document).ready(function () {

            select_carreras = $('#buscador_carrera');
            select_asignatura = $('#buscador_codigoAsignatura');

            select_carreras.select2({
                placeholder: 'Seleccione una carrera',
                allowClear: true
            });

            select_asignatura.select2({
                placeholder: 'Seleccione una asignatura',
                allowClear: true
            });


        {% set formData = app.request.get('buscador') %}
        {% if formData['codigoAsignatura'] is defined %}
                ASIGNATURA_ACTUAL = "{{ formData['codigoAsignatura'] }}";
                //console.log("asignatura actual: " + ASIGNATURA_ACTUAL);
        {% else %}
                ASIGNATURA_ACTUAL = -1;
                select_asignatura.val("");
        {% endif %}


                // combo de carreras:
                select_carreras.change(actualizarAsignaturas);

                //combo de asignaturas:
                select_asignatura.change(function (e) {
                    var option = $(this).children("option:selected");
                });

                //disparar el evento en las carreras lo que permite que se cargan las asignaturas y luego la infor de la asignatura
                select_carreras.trigger('change');


        {#$('.modal-historico').click(function(e){
            e.prevenDefault();
            alert('aca se va a mostrar el hitorico');
        })#}

                    });


    </script>

{% endblock %}