<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-bibliografia">
    <div class="container" >
        <div class="card card-register mx-auto">

            <div class="card-body px-5">
                <div class="mb-4">
                    <h4>Bibliografía</h4>
                </div>            
                {{ form_start(form) }}

                <div class="form-row">
                    <div class="form-group required  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label class="radio-inline">
                            Básica <input type="radio" name="optbibliografia" checked>
                        </label>
                        <label class="radio-inline">
                            Complementaria <input type="radio" name="optbibliografia">
                        </label>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-sm-8 col-xs-12">
                        {{ form_label(form.titulo) }}
                        {{ form_widget(form.titulo) }}
                        {{ form_errors(form.titulo) }}    
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-8 col-xs-12">
                        {{ form_label(form.autores) }}
                        {{ form_widget(form.autores) }}
                        {{ form_errors(form.autores) }}    
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-8 col-xs-12">
                        {{ form_label(form.editorial) }}
                        {{ form_widget(form.editorial) }}
                        {{ form_errors(form.editorial) }}   
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2 col-xs-12">
                        {{ form_label(form.anioEdicion) }}
                        {{ form_widget(form.anioEdicion) }}
                        {{ form_errors(form.anioEdicion) }} 
                    </div>
                    <div class="form-group col-sm-2 col-xs-12">
                        {{ form_label(form.nroEdicion) }}
                        {{ form_widget(form.nroEdicion) }}
                        {{ form_errors(form.nroEdicion) }} 
                    </div>
                    <div class="form-group col-sm-2 col-xs-12">
                        {{ form_label(form.issnIsbn) }}
                        {{ form_widget(form.issnIsbn) }}
                        {{ form_errors(form.issnIsbn) }} 
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form_label(form.disponibleBiblioteca) }}
                        {{ form_widget(form.disponibleBiblioteca) }}
                        {{ form_errors(form.disponibleBiblioteca) }} 
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.disponibleOnline) }}
                        {{ form_widget(form.disponibleOnline) }}
                        {{ form_errors(form.disponibleOnline) }} 
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaConsultaOnline) }}
                        {{ form_widget(form.fechaConsultaOnline) }}
                        {{ form_errors(form.fechaConsultaOnline) }} 
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                         {{ form_label(form.enlaceOnline) }}
                        {{ form_widget(form.enlaceOnline) }}
                        {{ form_errors(form.enlaceOnline) }} 
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group  col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="{{ path('homepage') }}">
                            <i class="fa fa-plus-circle"></i>
                            Añadir
                        </a>
                    </div>
                </div>     


                <div class="col-12 mt-s text-right mb-4">

                    <button type="submit" class="btn btn btn-verde">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>

                    <a href="#" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
