<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-equipo-docente" id="tab-pane-equipo-docente">
    <div class="container pr-0 mt-4">
        <div class="mx-auto">
            {% include '::notificaciones.html.twig' %}



            <div class="container_equipo-docente">
                <div class="mb-4">
                    <h4>Equipo Docente</h4>
                </div>  

                

                {{ form_start(form) }}
{{ form_errors(form) }}
                <div class="mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            {{ form_label(form.docenteResponsable) }}
                        </div>
                        <div class="col-md-10" id="docente_responsable">
                            {% form_theme form.docenteResponsable 'PlanificacionesBundle:Planificacion:form_theme-equipo-docente.html.twig'  %}
                            {{ form_row(form.docenteResponsable) }}
                        </div>
                    </div>

                </div>

                <div class="mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            {{ form_label(form.docentesColaboradores) }}
                        </div>
                        <div class="col-md-10">
                            {% form_theme form.docentesColaboradores 'jquery.collection.html.twig' 'PlanificacionesBundle:Planificacion:form_theme-equipo-docente.html.twig'  %}
                            {{ form_row(form.docentesColaboradores) }}
                        </div>
                    </div>

                </div>
                        
                        
{#                {{ form_rest(form) }}#}


               

                <div class="mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            {{ form_label(form.docentesAdscriptos) }}
                        </div>
                        <div class="col-md-10">
                            {% form_theme form.docentesAdscriptos 'jquery.collection.html.twig' 'PlanificacionesBundle:Planificacion:form_theme-equipo-docente.html.twig'  %}
                            {{ form_row(form.docentesAdscriptos) }}
                        </div>
                    </div>

                </div>


                <div class="form-row">
                    <div class="col-xs-12 col-sm-4">

                        {{ form_widget(form.submit, {'attr': {'class': 'btn bg-verde text-color-white'}}) }}
                        {#{ form_widget(form.submit) }#}   

                    </div>
                    {#<div class="col-xs-12 offset-4 col-sm-4 text-right">
                        {{ form_widget(form.reset) }}
                    </div>#}
                </div>

                

 {{ form_end(form) }}


            </div>
        </div>
    </div>
</div>