<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-aprobacion">
    <div class="container">
        <div class="card card-register mx-auto">
            <div class="card-body px-5">

                {% include '::notificaciones.html.twig' %}
               
                <div class="container mb-4 ml-10">
                    <h4 data-toggle="tooltip" data-placement="top" title="Art. 32 del régimen de enseñanza">
                        Requisitos para la regularizaci&oacute;n de la asignatura</h4>
                </div>

                {{ form_start(form) }}


                <div class="form-row">

                    <div class="form-group offset-2 col-xs-12 col-sm-2">
                        {{ form_label(form.porcentajeAsistencia) }}
                        {{ form_widget(form.porcentajeAsistencia) }}
                        {{ form_errors(form.porcentajeAsistencia) }}      

                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                </div>

                <!-- Parciales -->
                <div class="form-row">
                    <div class="form-group col-sm-2 col-xs-12">
                        <label for="responsable">Parciales</label>
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaPrimerParcial) }}
                        {{ form_widget(form.fechaPrimerParcial) }}
                        {{ form_errors(form.fechaPrimerParcial) }}      
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaSegundoParcial) }}
                        {{ form_widget(form.fechaSegundoParcial) }}
                        {{ form_errors(form.fechaSegundoParcial) }}  
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>

                </div>

                <!-- Recuperatorios -->
                <div class="form-row">
                    <div class="form-group col-sm-2 col-xs-12">
                        <label for="responsable">Recupetarios</label>
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaRecupPrimerParcial) }}
                        {{ form_widget(form.fechaRecupPrimerParcial) }}
                        {{ form_errors(form.fechaRecupPrimerParcial) }}      
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaRecupSegundoParcial) }}
                        {{ form_widget(form.fechaRecupSegundoParcial) }}
                        {{ form_errors(form.fechaRecupSegundoParcial) }}  
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>

                </div>

                <div class="mb-4 mt-4">
                    <h4>Requisitos para la promoción de la asignatura</h4>
                </div>
                    
                <div class="form-row"  style="margin-bottom: 0px !important;">
                    <div class="form-group mb-0 offset-2 col-sm-4 col-xs-12">
                        {{ form_label(form.preveProm) }}
                        {{ form_widget(form.preveProm) }}
                        {{ form_errors(form.preveProm) }} 

                    </div>
                    
                </div>
                <!-- Estas opciones deben aparecer Solo si se tilda Si arribaa -->
                
                <div class="form-row prevePromDiv">
                    <div class="form-group mb-0 offset-2 col-sm-2 col-xs-12">
                        {{ form_label(form.prevePromParcialTeoria) }}
                        {{ form_widget(form.prevePromParcialTeoria) }}
                        {{ form_errors(form.prevePromParcialTeoria) }} 

                    </div>
                    <div class="form-group mb-0 col-sm-2 col-xs-12">
                        {{ form_label(form.prevePromParcialPractica) }}
                        {{ form_widget(form.prevePromParcialPractica) }}
                        {{ form_errors(form.prevePromParcialPractica) }}   
                    </div>
                </div>

                <div class="form-row" style="margin-bottom: 0px !important;">
                    <div class="form-group mb-0 offset-2 col-sm-4 col-xs-12">
                        {{ form_label(form.preveCfi) }}
                        {{ form_widget(form.preveCfi) }}
                        {{ form_errors(form.preveCfi) }} 
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group offset-2  col-sm-3 col-xs-12">
                        {{ form_label(form.fechaParcailCfi) }}
                        {{ form_widget(form.fechaParcailCfi) }}
                        {{ form_errors(form.fechaParcailCfi) }}  
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        {{ form_label(form.fechaRecupCfi) }}
                        {{ form_widget(form.fechaRecupCfi) }}
                        {{ form_errors(form.fechaRecupCfi) }}  
                        <div class="valid-feedback">
                            V&aacute;lido
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group offset-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {{ form_label(form.modalidadCfi) }}
                        {{ form_widget(form.modalidadCfi) }}
                        {{ form_errors(form.modalidadCfi) }}  
                    </div>
                </div>

                <div class="mb-4">
                    <h4> Exámen final</h4>
                </div>

                <div class="form-row">
                    <div class="form-group offset-2 col-sm-6 col-xs-12">
                        {{ form_label(form.examenFinalModalidadRegulares) }}
                        {{ form_widget(form.examenFinalModalidadRegulares) }}
                        {{ form_errors(form.examenFinalModalidadRegulares) }}  
                    </div>
                </div>    

                <div class="form-row">
                    <div class="form-group  offset-2 col-sm-6 col-xs-12">
                        {{ form_label(form.examenFinalModalidadLibres) }}
                        {{ form_widget(form.examenFinalModalidadLibres) }}
                        {{ form_errors(form.examenFinalModalidadLibres) }}  
                    </div>
                </div>   


                <div class="form-row">
                    <div class="col-xs-12 col-sm-4">
                         {{ form_widget(form.submit) }}
                    </div>
                    <div class="col-xs-12 offset-4 col-sm-4 text-right">
                        {{ form_widget(form.reset) }}
                    </div>
                </div>
                {#<div class="col-12 mt-s text-right mb-4">

                    <button type="submit" class="btn btn btn-verde">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        Guardar
                    </button>

                    <a href="#" class="btn btn-secondary">
                        Cancelar
                    </a>
                </div>#}
                {{ form_end(form) }}
            </div>

        </div>

    </div>
</div>


