<table class="table table-bordered shadow">
    <tbody>
        <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Asignatura:
            </td>
            <td class="bg-white text-primary font-weight-bolder">
                {{ planificacion.nombreAsignatura|upper }}
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Carrera - Plan:
            </td>
            <td class="bg-white">
                {{ nom_carrera(planificacion.carrera)|upper ~ ' (PLAN ' ~ planificacion.plan ~ ')' }}
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Año académico:
            </td>
            <td class="bg-white">
                {{ planificacion.anioAcad|default('-') }}
            </td>
        </tr>
           <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Docente responsable:
            </td>
            <td class="bg-white">
                {{ planificacion.getDocenteResponsable()|default('-') }}
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Estado actual:
            </td>
            <td class="bg-white">
                {% set eActual = planificacion.getEstadoActual() %} 
                {% if eActual %}
                    {% set class = eActual.getCssClass() %}                                                        

                    {#   <a href="#" class="mr-2 modal-historico small text-uppercase badge badge-{{ class }}">#}
                    <span class='mr-2 small text-uppercase badge badge-{{ class }}' style='cursor:default;'>
                        {{ eActual.nombre }}
                    </span>                                                        
                {% endif %}                
            </td>
        </tr>
        
        {#Si nos pasan como parametro estado Nuevo - es porque nos llaman desde el boton cambiar estado #}
        {% if bandera == 'cambiarEstado' %}
        <tr>
            <td class="font-weight-bold bg-secondary text-white text-right">
                Nuevo Estado:
            </td>
            <td class="bg-white">
                <span class='mr-2 small text-uppercase badge badge-warning' style='cursor:default;'>
                     EN REVISIÓN
                </span>
            </td>
        </tr>
        {% endif %}


        {#        <tr>
                    <td class="font-weight-bold bg-secondary text-white text-right">
                        Dueño
                    </td>
                    <td class="bg-white">
                        {{ planificacion.getOwner()|default('-') }}
                    </td>
                </tr>#}
    </tbody>
</table>