{% set page_id = 7 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% if planificacion.temario[0] is not defined %}
        {% from '::macros.html.twig' import notificacion %}
        {% set msg %}
            <p class='mb-1'>Para cargar las actividades debe definir primero las unidades en la secci&oacute;n
                "Temario"</p>
            {% endset %}
            {{ notificacion('Mensaje', msg, 'info', '' ) }}
        {% else %}
        <div class ="">            
            {# Errores.cronograma sale del validarCronograma en PlanificacionService#}
            {% if errores.cronograma %}
                {% from '::macros.html.twig' import notificacion %}
                {% set msg %}
                    <p class='mb-1'>La carga horaria definida en la planificacion ({{ cargaHorariaTotal }} Hs.) es distinta a la carga horaria total definida en la asignatura  ({{ planificacion.getTotalCargaHorariaAula() }} hs.).</p>
                {% endset %}
                {{ notificacion('Mensaje', msg, 'danger', '' ) }}
            {%endif%}
        </div>
        <div class=" mb-4">
            {% embed "::botonera-2col.html.twig" %}
                {% block left %}
                    {% if planificacion.puedeEditarse() %}
                        <a href="{{ path('planif_act_curriculares_nueva', { id: planificacion.id }) }}"
                           class="btn btn-success">
                            <i class="fa fa-plus"></i>&nbsp;Nueva actividad
                        </a>
                    {% endif %}
                {% endblock %}

                {% block right %}
                    <button role="button" class="btn btn-outline-primary" id="btnDistHorariaModal">
                        <i class="fa fa-list"></i> Distribución horaria
                    </button>
                {% endblock %}
            {% endembed %}
        </div>

        <div id="accordion" class="acordion-cronograma-actividades shadow">

            {% for t in planificacion.temario %}

                <div class="card">
                    <div class="card-header bg-secondary pl-3 py-2">
                        <a class="card-link text-white font-weight-bold" data-toggle="collapse"
                           href="#collapse{{ loop.index }}">
                            {{ t|upper }}&nbsp;
                            <i class="fa fa-1x fa-caret-down align-middle"></i>
                        </a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                        <div class="card-body border border-light">
                            {% set actividades = t.getActividadesOrdPorFecha() %}
                            {% if actividades[0] is not defined %}
                                <p class="text-muted mb-0 p-3">
                                    No existen actividades definidas en esta unidad.
                                </p>
                            {% else %}



                                <table class="table table-sm table-condensed table-borderless table-hover mb-0 border-0">
                                    <thead>
                                        <tr class="text-secondary bg-white">
                                            <th class="text-center">#</th>
                                            <th class="align-middle">Actividad</th>
                                            <th class="align-middle">Fecha</th>
                                            <th class="align-middle text-center" title="Carga horaria aula">Hs. aula</th>
                                            <th class="align-middle text-center" title="Carga horaria autónomo">Hs. autónomo</th>
                                            <th class="align-middle text-center" title="¿Dictada en varias comisiones?">¿Varias comisiones?</th>
                                                {#                                           <th class="align-middle">Contenido</th>#}
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    </tbody>

                                    {% for a in actividades %}
                                        <tr>
                                            <td class="text-center align-middle">
                                                {{ loop.index }}
                                            </td>
                                            <td class="align-middle font-weight-bold">
                                                {{ a.tipoActividadCurricular|upper }}
                                            </td>
                                            <td class="align-middle">
                                                {{ a.fecha ? a.fecha|date('d/m/Y') : '-' }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ a.cargaHorariaAula|default('-') }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ a.cargaHorariaAutonomo|default('-') }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ a.dictadoVariasComisiones ? 'Si' : 'No' }}
                                            </td>
                                            {#                                            <td>#}
                                            {#                                                <div class="texto-container">#}
                                            {#                                                    {% if a.descripcion|length > 100 %}#}
                                            {#                                                        <div class="txt-breve">#}
                                            {#                                                            {{ a.descripcion|slice(0, 100) }}... <a href="#" class="ver-mas">Ver m&aacute;s...</a>#}
                                            {#                                                        </div>#}
                                            {#                                                        <div class="d-none txt-full">#}
                                            {#                                                            {{ a.descripcion }} <a href="#" class="ver-menos">Ver#}
                                            {#                                                                menos</a>#}
                                            {#                                                        </div>#}
                                            {#                                                    {% else %}#}
                                            {#                                                        <div class="">#}
                                            {#                                                            {{ a.descripcion }}#}
                                            {#                                                        </div>#}
                                            {#                                                    {% endif %}#}
                                            {#                                                </div>#}
                                            {#                                            </td>#}
                                            <td class="text-center align-middle">
                                                <a href="{{ path('planif_act_curriculares_ver', { id : a.id }) }}" title="Ver"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="{{ path('planif_act_curriculares_editar_act', { id : a.id }) }}" title="Editar"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="{{ path('planif_act_curriculares_duplicar_act', { id : a.id }) }}" title="Duplicar"
                                                   class="btn btn-sm btn-outline-secondary">
                                                    <i class="fa fa-copy"></i>
                                                </a>
                                                {#                                                <a href="#" class="link text-danger text-decoration-none small">Borrar</a> #}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        {#        <div class="d-none" id="distrubucion-horaria">#}
        {#            {% include 'PlanificacionesBundle:7-cronograma:distribucion-carga-horaria.html.twig' %}#}
        {#        </div>#}


    {% endif %}


{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    {% if planificacion.puedeEditarse() %}
        {% include 'PlanificacionesBundle:7-cronograma:modal-dist-horaria.html.twig' %}
    {% endif %}

{% endblock %}    