{% set page_id = 7 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% if planificacion.temario[0] is not defined %}
        {% from '::macros.html.twig' import notificacion %}         
        {% set msg %}
            <p class='mb-1'>Para cargar las actividades debe definir primero las unidades en la secci&oacute;n "Temario"</p>            
        {% endset %}
        {{ notificacion('Mensaje', msg, 'info', '' ) }}
    {% else %}

        <div>
            <a href="{{ path('planif_act_curriculares_nueva', { id: planificacion.id }) }}" class="btn btn-success mb-4">
                Nueva actividad
            </a>

        </div>

        <div id="accordion" class="acordion-cronograma-actividades shadow">

            {% for t in planificacion.temario %}

                <div class="card">
                    <div class="card-header bg-light pl-3 py-2">                
                        <a class="card-link text-dark font-weight-bold" data-toggle="collapse" href="#collapse{{ loop.index }}">                    
                            {{ t }}                                
                            <i class="fa fa-1x fa-caret-down align-middle"></i>                    
                        </a>                
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                        <div class="card-body border border-light p-0">
                            {% set actividades = t.getActividadesOrdPorFecha() %}
                            {% if actividades[0] is not defined %}
                                <p class="text-muted mb-0 p-3">
                                    No existen actividades definidas en esta unidad.
                                </p>
                            {% else %}   



                                <table class="table table-condensed table-borderless table-hover mb-0 border-0">
                             {#       <thead>
                                    <th class="text-center">#</th>
                                    <th>Actividad</th>
                                    <th class="text-center">Acciones</th>
                                    </thead>#}
                                    </tbody>

                                    {% for a in actividades %}
                                        <tr>
                                            <td class="text-center align-middle">
                                                {{ loop.index }}
                                            </td>
                                            <td class="w-50 align-middle">                                                
                                                <h6 class="font-weight-bold mb-0">
                                                    {{ a.fecha|date('d/m/Y') }} - <span class="text-secondary">{{ a.tipoActividadCurricular|upper }}</span>
                                                </h6>
                                                <div class="small text-muted texto-container">
                                                    {% if a.descripcion|length > 100 %}
                                                        <div class="txt-breve mt-1">
                                                            {{ a.descripcion|slice(0, 100) }}... <a href="#" class="ver-mas">Ver m&aacute;s...</a>                                                        
                                                        </div>
                                                        <div class="d-none txt-full mt-1">
                                                            {{ a.descripcion }} <a href="#" class="ver-menos">Ver menos</a>
                                                        </div>
                                                    {% else %}
                                                        <div class="mt-1">
                                                        {{ a.descripcion }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <a href="{{ path('planif_act_curriculares_ver', { id : a.id }) }}" class="link mr-2 text-decoration-none small">Ver</a>
                                                <a href="{{ path('planif_act_curriculares_editar_act', { id : a.id }) }}" class="link ml-1 mr-3 text-decoration-none small">Editar</a>
                                                <a href="{{ path('planif_act_curriculares_duplicar_act', { id : a.id }) }}" class="link mr-3 text-decoration-none small">Duplicar</a>
{#                                                <a href="#" class="link text-danger text-decoration-none small">Borrar</a>#}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>




    {% endif %}


    {#    {% form_theme form.actividadCurricular 'jquery.collection.html.twig' 'PlanificacionesBundle:7-cronograma:form_theme-cronograma.html.twig' %}
    
        {{ form_start(form) }}  
    
        {{ form_row(form.actividadCurricular) }}
    
        {% if planificacion.puedeEditarse() %}
            <div class="form-row mt-3">
                <div class="col-xs-12 col-sm-2">            
                    <input type="submit" value="Guardar cambios" class="btn btn-success"/>      
                </div>
            </div>
        {% endif %}
    
        {{ form_end(form) }}#}  


{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    {% if planificacion.puedeEditarse() %}
        <script>
            $(document).ready(function () {

            {# $('.cronograma-selector').collection({

                 position_field_selector: '.posicion',
                 add: '<a href="#" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Agregar actividad</a>',
                 min: 0,
                 max: 20,

                 after_add: function (collection, item) {
                     item.find('.js-select2').select2({});

                     item.find('.tempusdominus-datepicker').datetimepicker({
                         locale: 'es',
                         format: 'DD/MM/YYYY'
                     });

                 }
             });
#}
        /*           function actualizarPosicion(){
         $('.sumar1').each(function (i, obj) {
         var pos = parseInt( $(obj).text() );
         $(obj).text(pos + 1)
         console.log( pos + 1);
         });
         }*/

    });

        </script>
    {% endif %}

{% endblock %}    