{% block planificacionesbundle_actividadcurricular_widget %}
{#        {{ dump(form) }}#}

    <div class="row actividad-curricular">
        {{ form_errors(form) }}
{#        <div class="col-md-2">  #}
{#            <h5 class="font-weight-bold">Actividad #<span class='posicion sumar1'></span></h5>#}
{#            <h5 class="font-weight-bold posicion">Actividad #{{ form.vars.name }}  </h5>#}
{#        </div>#}
        <div class="col-md-10">
            <div class="mb-5">                                
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_label(form.temario) }}            
                        {{ form_widget(form.temario) }}     
                        {{ form_errors(form.temario) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-5">
                        {{ form_label(form.tipoActividadCurricular) }}
                        {{ form_widget(form.tipoActividadCurricular) }}
                        {{ form_errors(form.tipoActividadCurricular) }}
                    </div>
                    <div class="col-md-4">
                        {% from '::macros.html.twig' import input_datetime_picker %}     
                        {{  input_datetime_picker(form.fecha, form.vars.id ~ '_picker', true ) }}                        
                    </div>            
                </div>
                <div class="form-row">
                    <div class="col-md-8">
                        {{ form_label(form.otras) }}            
                        {{ form_widget(form.otras) }}
                        {{ form_errors(form.otras) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form_label(form.cargaHorariaAula) }}
                        {{ form_widget(form.cargaHorariaAula) }}
                        {{ form_errors(form.cargaHorariaAula) }} 
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.cargaHorariaAutonomo) }}
                        {{ form_widget(form.cargaHorariaAutonomo) }}
                        {{ form_errors(form.cargaHorariaAutonomo) }} 
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="form-group col-md-8">
                        {{ form_label(form.contenido) }}
                        {{ form_widget(form.contenido) }}
                        {{ form_errors(form.contenido) }} 
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="form-group col-md-8">
                        {{ form_label(form.descripcion) }}
                        {{ form_widget(form.descripcion) }}
                        {{ form_errors(form.descripcion) }} 
                    </div>
                </div>
                    
                     {{ form_row(form.posicion) }}     
                     
                     
                <div class="form-row">
                    <div class="col-md-8 text-right">
                        <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                            <i class="fa fa-arrow-up"></i>
                        </a>

                        <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                            <i class="fa fa-arrow-down"></i>
                        </a>

                        <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1">
                            <i class="fa fa-plus"></i> Agregar actividad
                        </a>

                        {#<div class="col-md-1">
                            <a href="#" class="collection-duplicate btn btn-sm btn-primary">Duplicate</a>
                        </div>#}
                    </div>
                </div>
            </div>      

        </div>
    </div>




{% endblock %}