{% set page_id = 7 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}
{#{{ dump(temario) }}#}
    {% if temario[0] is not defined %}
        {% from '::macros.html.twig' import notificacion %}
        {% set msg %}
            <p class='mb-1'>Para cargar las actividades debe definir primero las unidades en la secci&oacute;n
                "Temario"</p>
        {% endset %}
        {{ notificacion('Mensaje', msg, 'info', '' ) }}
    {% else %}
        <div class="">
            {# Errores.cronograma sale del validarCronograma en PlanificacionService #}
            {% if errores.cronograma %}
                {% from '::macros.html.twig' import notificacion %}
                {% set msg %}
                    <p class='mb-1 text-danger'>La carga horaria definida en la planificacion
                        ({{ planificacion.getTotalCargaHorariaAula() }} Hs.) es distinta a la carga horaria total
                        definida en la asignatura ({{ cargaHorariaTotal }} hs.).</p>
                {% endset %}
                {{ notificacion('Mensaje', msg, 'danger', '' ) }}
            {% endif %}
        </div>
        <div class="mb-4">
            {% embed "::botonera-2col.html.twig" %}
                {% block left %}
                    {% if planificacion.puedeEditarse() %}
                        <a href="{{ path('planif_act_curriculares_nueva', { id: planificacion.id }) }}"
                           class="btn btn-success">
                            <i class="fa fa-plus"></i>&nbsp;Nueva actividad
                        </a>
                    {% endif %}
                {% endblock %}

                {% block right %}
                    <button role="button" class="btn btn-outline-primary" id="btnDistHorariaModal">
                        <i class="fa fa-list"></i> Distribución horaria
                    </button>
                {% endblock %}
            {% endembed %}
        </div>

        <div id="accordion" class="acordion-cronograma-actividades shadow">

            {% for t in temario %}

                <div class="card">
                    <div class="card-header bg-secondary pl-3 py-2">
                        <a class="card-link text-white font-weight-bold" data-toggle="collapse"
                           href="#collapse{{ loop.index }}">
                            {{ (t.unidad ~ ' - ' ~ t.titulo)|upper }}&nbsp;
                            <i class="fa fa-1x fa-caret-down align-middle"></i>
                        </a>
                    </div>
                    <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                        <div class="card-body border border-light">
                            {% set actividades = t.getActividadesOrdPorFecha() %}
                            {% if actividades[0] is not defined %}
                                <p class="text-muted mb-0 p-3">
                                    No existen actividades definidas en esta unidad.
                                </p>
                            {% else %}
                                {% include "PlanificacionesBundle:7-cronograma:tabla-actividades.html.twig" with { 'mostrar_acciones': true } %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    {% endif %}


{% endblock %}


{% block javascripts %}
    {{ parent() }}

{#    {% if planificacion.puedeEditarse() %}#}
        {% include 'PlanificacionesBundle:7-cronograma:modal-dist-horaria.html.twig' %}
{#    {% endif %}#}

{% endblock %}
