{# Utilizado en la sección revisar #}
<div>
    <div class="mb-4">        
        <h4 class="font-weight-bold" id="resumen-cronograma">Cronograma de actividades</h4>                    
    </div>

    <div class="row">        
        <div class="col-sm-10">
            {#<label class="font-weight-bold">Resultados</label>#}
             
            {% if resumen.resultados is null %}
                    <div class="text-danger">{{ global_sd }}</div>
                {% else %}
                <ul>
                    {% for c in resumen.cronograma %}
                    <li>
                        <p>                        
                            Unidad : {{ c.temario}} - Fecha :{{ c.fecha|date("d/m/Y") }} -Tipo : {{ c.tipoActividadCurricular}}
                            - Carga horaria en aula : {{ c.cargaHorariaAula}} - Horas de estudio autónomo : {{ c.cargaHorariaAutonomo}}
                            - Contenidos : {{ c.contenido}} - Descripción : {{ c.descripcion|default(global_sd) }} 
                        </p>
                    </li>    
                    {% endfor %}
                </ul>
                {% endif %}              
        </div>       
    </div>


    <div class="row mt-4">  
        <div class="col-sm-10 text-right">
            <a class="btn btn-outline-primary" href="{{ path('planif_act_curriculares_editar', {id : planificacion.id}) }}">Modificar</a>
            <hr class="mb-5 mt-4"/>
        </div>
    </div>
</div>