{{ form_start(form) }}

<div class="form-row">
    <div class="col-xs-12 col-sm-8">
        {{ form_label(form.carrera) }}
        {{ form_widget(form.carrera) }}
        {{ form_errors(form.carrera) }}      
    </div>
    <div class="col-xs-12 col-sm-2">
        {{ form_label(form.anioAcad) }}
        {{ form_widget(form.anioAcad) }}
        {{ form_errors(form.anioAcad) }}                              
    </div>
</div>

<div class="form-row">
    <div class="col-xs-12 col-sm-8 select-asignaturas-container">
        {{ form_label(form.codigoAsignatura) }}
        {{ form_widget(form.codigoAsignatura) }}
        {{ form_errors(form.codigoAsignatura) }}      
    </div>
</div>

<div class="form-row">
    <div class="col-xs-12 col-sm-6">
        {{ form_label(form.departamento) }}
        {{ form_widget(form.departamento) }}
        {{ form_errors(form.departamento) }}               
    </div>
    <div class="col-xs-12 col-sm-2">
        {{ form_label(form.codigoSiu) }}
        {{ form_widget(form.codigoSiu) }}                                
    </div>
    <div class="col-xs-12 col-sm-2">
        {{ form_label(form.plan) }}
        {{ form_widget(form.plan) }}                                
    </div>
</div>

<div class="form-row">

    <div class="col-12 col-md-4">
        {{ form_label(form.cargaHoraria) }}
        {{ form_widget(form.cargaHoraria) }}                                   
    </div>

    <div class="col-12 col-md-2">
        {{ form_label(form.caracter) }}
        {{ form_widget(form.caracter) }}                                   
    </div>


    <div class="col-12 col-md-2">
        {{ form_label(form.periodoCursada) }}
        {{ form_widget(form.periodoCursada) }}                                   
    </div>

    <div class="col-12 col-md-2">
        {{ form_label(form.anioCursada) }}
        {{ form_widget(form.anioCursada) }}                                   
    </div>

</div>


<div class="form-row">
    <div class="col-sm-10">
        {{ form_label(form.contenidosMinimos) }}
        {{ form_widget(form.contenidosMinimos) }}
        {{ form_errors(form.contenidosMinimos) }}      
    </div>
</div>

{% if planificacion.id is null %}
    {# Se esta creando la planificacion #}
    <div class="form-row">
        <div class="col-xs-12 col-sm-2">
            <input type="submit" value="Crear planificación" class="btn btn-success"/>            
        </div>
    </div>    


    {#
        La funcion puedeEditarse() devuelve true si el estado de la planificacion es PREPARACION o CORRECCION
        En el caso de que la planificacion este en revision, SA debe poder editar los contenidos minimos y el departamento.
    #}

    {% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}

{% elseif planificacion.puedeEditarse() or (planificacion.enRevision() and app.user.tieneRol(ROL_SA)) or (planificacion.isPublicada() and app.user.tieneRol(ROL_SA))%}
    <div class="form-row">
        <div class="col-xs-12 col-sm-2">
            <input type="submit" value="Guardar cambios" class="btn btn-success"/>            
        </div>
    </div>
{% endif %}

{{ form_end(form) }}