{{ form_start(form) }}
<div class="form-row">
    <div class="form-group required  col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label class="control-label" for="total"> Total
        </label>
        <input class="form-control" id="total" name="total" 
               type="number" value="" 
               disabled  />                        
    </div>
    <div class="form-group required col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label class="control-label" for="autonomo"> Estudio Aut칩nomo </label>
        <input class="form-control" id="autonomo" name="autonomo" 
               type="number" value="" 
               disabled />
    </div>
</div>

<div class="form-row">
    <div class="form-group required col-lg-6 col-md-6 col-sm-6">
        <div>
            <label class="control-label" for="form_prac"> Formaci칩n pr치ctica </label>
        </div>
        <div class="form-group ">
            <input class="form-control col-lg-3" id="form_prac" 
                   name="form_prac" type="number" value="" disabled />
        </div>

    </div>                    
</div>
<div class="form-row">
    <div class="form-group  col-sm-3 col-xs-12">
        <div>
            <label class="control-label" for="form_exp">Formaci칩n experimental
            </label>
            <input class="form-control" id="form_exp" name="form_exp" 
                   type="number" value="" disabled/>
        </div>

    </div>    
    <div class="form-group col-sm-5 col-xs-12">
        <div>
            {{ form_label(form.cantHsResolProbIng) }}
            {{ form_widget(form.cantHsResolProbIng) }}
            {{ form_errors(form.cantHsResolProbIng) }} 
        </div>
    </div> 
</div>

<div class="form-row">
    <div class="form-group col-sm-4 col-xs-12">
        {{ form_label(form.cantHsEjRutinarios) }}
        {{ form_widget(form.cantHsEjRutinarios) }}
        {{ form_errors(form.cantHsEjRutinarios) }} 
    </div>  

    <div class="form-group col-sm-6 col-xs-12">
        {{ form_label(form.cantHsActProyDisenio) }}
        {{ form_widget(form.cantHsActProyDisenio) }}
        {{ form_errors(form.cantHsActProyDisenio) }} 
    </div> 
    <div class="form-group col-sm-6 col-xs-12">
        {{ form_label(form.cantHsPracticaProfSup) }}
        {{ form_widget(form.cantHsPracticaProfSup) }}
        {{ form_errors(form.cantHsPracticaProfSup) }} 

    </div> 
</div>

<div class="form-row">
    <div class="form-group col-sm-2 col-xs-12">
        {{ form_label(form.cantHsTeoria) }}
        {{ form_widget(form.cantHsTeoria) }}
        {{ form_errors(form.cantHsTeoria) }} 
    </div>    
    <div class="form-group col-sm-2 col-xs-12">
        {{ form_label(form.cantHsConsulta) }}
        {{ form_widget(form.cantHsConsulta) }}
        {{ form_errors(form.cantHsConsulta) }} 
    </div> 
    <div class="form-group col-sm-2 col-xs-12">
        {{ form_label(form.cantHsEvaluacion) }}
        {{ form_widget(form.cantHsEvaluacion) }}
        {{ form_errors(form.cantHsEvaluacion) }} 
    </div> 
</div>

<div class="form-row">
    <div class="col-xs-12 col-sm-4">
        {{ form_widget(form.submit) }}
    </div>
    <div class="col-xs-12 offset-4 col-sm-4 text-right">
        {{ form_widget(form.reset) }}
    </div>
</div>
{{ form_end(form) }}