{{ form_start(form) }}
{{ form_errors(form) }}
<div class="mb-5">
    <div class="row">
        <div class="col-md-2">
            <span class="font-weight-bold">
                {{ form_label(form.docenteResponsable) }}                    
            </span>
        </div>
        <div class="col-md-10" id="docente_responsable">
{#            {% form_theme form.docenteResponsable 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}#}
            {{ form_widget(form.docenteResponsable) }}
            {{ form_errors(form.docenteResponsable) }}
            <small id="docentes_docenteResponsable_help" class="form-text text-muted">Apellido y Nombre / Legajo / Nro. documento</small>
        </div>
    </div>

</div>

<div class="mb-5">
    <div class="row">
        <div class="col-md-2">
            <span class="font-weight-bold">Colaboradores</span>
        </div>
        <div class="col-md-10">
            {% form_theme form.docentesColaboradores 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
            {{ form_row(form.docentesColaboradores) }}
        </div>
    </div>

</div>
        
        


{#<div class="mb-5">
    <div class="row">
        <div class="col-md-2">
            <span class="font-weight-bold">Adscripto/a</span>
        </div>
        <div class="col-md-10">
            {% form_theme form.docentesAdscriptos 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
            {{ form_row(form.docentesAdscriptos) }}
        </div>
    </div>

</div>#}


<div class="form-row">
    <div class="col-xs-12 col-sm-4">

        {{ form_widget(form.submit) }}        

    </div>
    {#<div class="col-xs-12 offset-4 col-sm-4 text-right">
        {{ form_widget(form.reset) }}
    </div>#}
</div>



{{ form_end(form) }}
