{# DocenteResponsablePlanificacionType::getBlockPrefix() + '_widget' #}
{#{% block planificacionesbundle_docente_widget %}#}
{% block planificacionesbundle_doc_resp_planif_widget %}
    {#    {{dump(form)}}#}
    <div class="">
        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.docente.nroLegajo) }}
                {{ form_widget(form.docente.nroLegajo) }}
                {{ form_errors(form.docente.nroLegajo) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.docente.persona.documento) }}
                {{ form_widget(form.docente.persona.documento) }}
                {{ form_errors(form.docente.persona.documento) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.docente.persona.telefono) }}
                {{ form_widget(form.docente.persona.telefono) }}
                {{ form_errors(form.docente.persona.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.docente.persona.email) }}
                {{ form_widget(form.docente.persona.email) }}
                {{ form_errors(form.docente.persona.email) }}
            </div>
        </div>
    </div>
{% endblock %}


{# DocenteColaboradorPlanificacionType::getBlockPrefix() + '_widget' #}
{% block planificacionesbundle_doc_colabor_planif_widget %}
    <div class="mb-5">
        {#        {{ form_widget(form) }}#}
        <div class="docente_colaborador_item">
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_label(form.docente.nroLegajo) }}
                    {{ form_widget(form.docente.nroLegajo) }}
                    {{ form_errors(form.docente.nroLegajo) }}
                </div>
                {#<div class="col-md-6">
                    {{ dump(form.docente.nroLegajo.vars.value) }}
                </div>#}
                <div class="col-md-3">
                    {{ form_label(form.docente.persona.documento) }}
                    {{ form_widget(form.docente.persona.documento) }}
                    {{ form_errors(form.docente.persona.documento) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    {{ form_label(form.docente.persona.telefono) }}
                    {{ form_widget(form.docente.persona.telefono) }}
                    {{ form_errors(form.docente.persona.telefono) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.docente.persona.email) }}
                    {{ form_widget(form.docente.persona.email) }}
                    {{ form_errors(form.docente.persona.email) }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                    <i class="fa fa-trash"></i>
                </a>

                <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1" onclick="onDocenteAddClick(event);">
                    <i class="fa fa-plus"></i>
                </a>

                {#<div class="col-md-1">
                    <a href="#" class="collection-duplicate btn btn-sm btn-primary">Duplicate</a>
                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{# DocenteAdscriptoPlanificacionType::getBlockPrefix() + '_widget' #}
{% block planificacionesbundle_doc_adscripto_planif_widget %}
    <div class="mb-5 docente_adscripto_item">
        {#{{ dump(form.docente.persona) }}#}
        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.docente.nroLegajo) }}
                {{ form_widget(form.docente.nroLegajo) }}
                {{ form_errors(form.docente.nroLegajo) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.docente.persona.documento) }}
                {{ form_widget(form.docente.persona.documento) }}
                {{ form_errors(form.docente.persona.documento) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.docente.persona.telefono) }}
                {{ form_widget(form.docente.persona.telefono) }}
                {{ form_errors(form.docente.persona.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.docente.persona.email) }}
                {{ form_widget(form.docente.persona.email) }}
                {{ form_errors(form.docente.persona.email) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.resolucion) }}
                {{ form_widget(form.resolucion) }}
                {{ form_errors(form.resolucion) }}
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-3">

                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1">
                    <i class="fa fa-trash"></i>
                </a>

                <a href="#" class="collection-add btn btn-sm btn-outline-primary ml-1" onclick="onDocenteAddClick(event);">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

    </div>

{% endblock %}