{{ form_start(form) }}
{{ form_errors(form) }}

<div class="mb-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <span class="font-weight-bold">
                {{ form_label(form.docenteResponsable) }}                    
            </span>
        </div>
        <div class="col-12 col-md-9" id="docente_responsable">
            <div class="row">
                <div class="col-7">
                    {{ form_widget(form.docenteResponsable) }}
                    {{ form_errors(form.docenteResponsable) }}            
                </div>
            </div>
        </div>
        {#             <hr/>#}
    </div>
</div>

<div class="mb-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <span class="font-weight-bold">
                Colaboradores
            </span>
        </div>
        <div class="col-12 col-md-9">
            {% form_theme form.docentesColaboradores 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
            {{ form_row(form.docentesColaboradores) }}
            {#% if planificacion.docentesColaboradores[0] is defined %}
                {% form_theme form.docentesColaboradores 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
                {{ form_row(form.docentesColaboradores) }}
            {% else %}
                <p class="text-muted">
                    No se ha definido ning&uacute;n docente colaborador.
                </p>
            {% endif %#}

        </div>
    </div>
</div>




<div class="mb-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <span class="font-weight-bold">
                Adscriptos/as
                <i class="fa fa-info-circle text-secondary ml-2" aria-hidden="true" data-toggle="tooltip" data-html="true" 
                   title="Los docentes adscriptos son gestionados por <em><b>Secretaría Académica</b></em>, contactese con dicha área para algún cambio en el listado o alta de un nuevo docente."></i>           
            </span>

        </div>
        <div class="col-12 col-md-9">
            {% form_theme form.docentesAdscriptos 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
            {{ form_row(form.docentesAdscriptos) }}
            {#% if planificacion.docentesAdscriptos[0] is defined %}

                {% form_theme form.docentesAdscriptos 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
                {{ form_row(form.docentesAdscriptos) }}

            {% else %}
                <p class="text-muted">
                    No se ha definido ning&uacute;n docente adscripto.
                </p>

            {% endif %#}
        </div>
    </div>
</div>        

{% if planificacion.puedeEditarse() %}
    <div class="form-row">
        <div class="col-xs-12 col-sm-12 text-right">
            <input type="submit" value="Guardar cambios" class="btn btn-success"/>            
        </div>
    </div>
{% endif %}


{{ form_end(form) }}
