{# DocenteResponsablePlanificacionType::getBlockPrefix() + '_widget' #}
{#{% block planificacionesbundle_docente_widget %}#}
{#{% block planificacionesbundle_doc_resp_planif_widget %}
    <div class="">
        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.docente.nroLegajo) }}
                {{ form_widget(form.docente.nroLegajo) }}
                {{ form_errors(form.docente.nroLegajo) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.docente.persona.documento) }}
                {{ form_widget(form.docente.persona.documento) }}
                {{ form_errors(form.docente.persona.documento) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.docente.persona.telefono) }}
                {{ form_widget(form.docente.persona.telefono) }}
                {{ form_errors(form.docente.persona.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.docente.persona.email) }}
                {{ form_widget(form.docente.persona.email) }}
                {{ form_errors(form.docente.persona.email) }}
            </div>
        </div>
    </div>
{% endblock %}#}


{# DocenteColaboradorPlanificacionType::getBlockPrefix() + '_widget' #}
{% block planif_docentecolaborador_widget %}
    {% include 'PlanificacionesBundle:2-equipo-docente:docente-widget.html.twig' %}
{% endblock %}


{% block planif_docenteadscripto_widget %}
    {% include 'PlanificacionesBundle:2-equipo-docente:docente-widget.html.twig' %}
{% endblock %}


{# DocenteAdscriptoPlanificacionType::getBlockPrefix() + '_widget' #}
{#{% block planificacionesbundle_doc_adscripto_planif_widget %}
    <div class="mb-5 docente_adscripto_item">
        {{ dump(form.docente.persona) }}
        <div class="form-row">
            <div class="col-md-6">
                {{ form_label(form.docente.nroLegajo) }}
                {{ form_widget(form.docente.nroLegajo) }}
                {{ form_errors(form.docente.nroLegajo) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.docente.persona.documento) }}
                {{ form_widget(form.docente.persona.documento) }}
                {{ form_errors(form.docente.persona.documento) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                {{ form_label(form.docente.persona.telefono) }}
                {{ form_widget(form.docente.persona.telefono) }}
                {{ form_errors(form.docente.persona.telefono) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.docente.persona.email) }}
                {{ form_widget(form.docente.persona.email) }}
                {{ form_errors(form.docente.persona.email) }}
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-4"> 
                {{ form_label(form.resolucion) }}
                {{ form_widget(form.resolucion) }}
                {{ form_errors(form.resolucion) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 pl-0">
                <a href="#" class="collection-add btn btn-sm btn-primary ml-1" title="Agregar registro">
                    <i class="fa fa-plus"></i> Agregar
                </a>

            </div>
            <div class="col-md-6 text-right">                                
                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1" title="Borrar registro">
                    <i class="fa fa-trash"></i> Borrar
                </a>

                {{ form_widget(form.reset) }}

            </div>
        </div>  

    </div>

{% endblock %}#}