{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar %}
    {% include 'navbar-simple.html.twig' %}
{% endblock %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light px-4 py-3">
                <h3 class="font-weight-bold">
                    Recuperar contraseña
                </h3>
                <p class="mt-4 mb-1">
                    A continuación ingrese su nueva contraseña
                </p>
                <div class="my-4">

                    {{ form_start(form) }}

                    {% if form.vars.errors is not empty %}
                        <div class="">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row mb-2">
                        <div class="col-12 col-lg-8">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-lg-8">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password) }}
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-lg-8">
                            {{ form_label(form.password2) }}
                            {{ form_widget(form.password2) }}
                            {{ form_errors(form.password2) }}
                        </div>
                        <div class="col-12 col-lg-4 align-self-end">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}