{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar %}
    {% include 'navbar-simple.html.twig' %}
{% endblock %} 

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light px-4 py-3">
                <h3 class="font-weight-bold">
                    Recuperar contraseña
                </h3>
                <p class="mt-4 mb-1">
                    A continuación ingrese su nombre de usuario y presione el bot&oacute;n "Recuperar contraseña".
                </p>
                <p>
                    Se enviar&aacute; un correo electr&oacute;nico a la direcci&oacute;n de correo configurada en su
                    cuenta de usuario con instrucciones para restablecer su contraseña.
                </p>
                <div class="my-4">

                    {{ form_start(form) }}

                    {% if form.vars.errors is not empty %}
                        <div class="">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    <div class="row mb-2">
                        <div class="col-12 col-lg-8">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="col-12 col-lg-4 align-self-end">
                            <button type="submit" class="btn btn-primary w-100">Recuperar contraseña</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            {{ form_errors(form.username) }}
                        </div>
                    </div>

                    {#                        </div> #}
                    {#                    </div> #}
                    {{ form_end(form) }}
                </div>
                <div class="alert alert-info text-justify mt-3 mb-0">
                    <span class="font-weight-bold"><i class="fa fa-info-circle"></i>&nbsp;¿No recuerda su nombre de usuario?: </span>
                    Escriba un correo a la dirección <b><i>gidis_email</i></b> con asunto "RECUPERAR
                    CONTRASEÑA" detallando su apellido, nombre, tipo y numero de documento.
                </div>
            </div>
        </div>
    </div>

{% endblock %}