{#{% extends 'base.html.twig' %}

{% block body %}
    <h1>Docenteadscripto creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('docentes_adscriptos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}#}


{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}  
            <a href="{{ path('docentes_adscriptos') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
            {# <a href="{{ path('docentes_adscriptos_new') }}" class="ml-3">
                 <i class="fa fa-plus"></i>
                 Nuevo docente
             </a>  #}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">


        {% embed 'DocentesBundle:adscriptos:form-buscar.html.twig' %}

            {% block form_actions %}
                {% embed "::botonera.html.twig" %}

                    {% block left %}
                        <input type="submit" value="Buscar" class="btn btn-primary" />
                    {% endblock %}

                {% endembed %}
            {% endblock %}


        {% endembed %}

    </div>

{% endblock %}
