{{ form_start(form) }}

<div class="bg-light p-5">

    {#{{ dump(form) }}#}
    <div>
        {{ form_errors(form) }}
    </div>


    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.persona.tipoDocumento) }}
            {{ form_widget(form.persona.tipoDocumento) }}
            {{ form_errors(form.persona.tipoDocumento) }}      
        </div>
        <div class="col-4">
            {{ form_label(form.persona.documento) }}
            {{ form_widget(form.persona.documento) }}
            {{ form_errors(form.persona.documento) }}
        </div>

        <div class="col-2">
            {{ form_label(form.persona.genero) }}
            {{ form_widget(form.persona.genero) }}
            {{ form_errors(form.persona.genero) }}
        </div>     
    </div>


    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.persona.apellidos) }}
            {{ form_widget(form.persona.apellidos) }}
            {{ form_errors(form.persona.apellidos) }}      
        </div>
        <div class="col-6">
            {{ form_label(form.persona.nombres) }}
            {{ form_widget(form.persona.nombres) }}
            {{ form_errors(form.persona.nombres) }}
        </div>

    </div>


    <div class="form-row">    
        <div class="col-6">
            {{ form_label(form.persona.email) }}
            {{ form_widget(form.persona.email) }}
            {{ form_errors(form.persona.email) }}      
        </div>
        <div class="col-3">
            {{ form_label(form.persona.telefono) }}
            {{ form_widget(form.persona.telefono) }}
            {{ form_errors(form.persona.telefono) }}
        </div>
        <div class="col-3">
            {% from '::macros.html.twig' import input_datetime_picker %}     
            {{  input_datetime_picker(form.persona.fechaNacimiento, form.persona.fechaNacimiento.vars.id ~ '_picker', true ) }} 
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_label(form.resolucion) }}
            {{ form_widget(form.resolucion) }}
            {{ form_errors(form.resolucion) }}
            {#            {{ form_widget(form.persona.persona) }}#}
            {#            {{ form_errors(form.persona.tipoDocumento) }}      #}
        </div>
    </div>

{#    {% block form_actions %}        
    {% endblock %}#}


</div>

{{ form_end(form) }}