{% set page_id = 5 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    {% if planificacion.temario[0] is defined %}


        {{ form_errors(form) }}

        {% form_theme form.temario 'jquery.collection.html.twig' 'PlanificacionesBundle:5-temario:form_theme-tema.html.twig'  %}
        {{ form_start(form) }}  

        {{ form_row(form.temario) }}

        {% if planificacion.puedeEditarse() %}
            <div class="form-row mt-3">
                <div class="col-xs-12 col-sm-2">            
                    <input type="submit" value="Guardar cambios" class="btn btn-success"/>      
                </div>
                {#        <div class="col-xs-12 offset-6 col-sm-2 text-right">            
                            <input type="reset" class="btn btn-secondary" value="Limpiar campos"/>
                        </div>#}
            </div>
        {% endif %}

        {{ form_end(form) }}  

    {% else %}
        {% from '::macros.html.twig' import notificacion %}         
        {% set msg %}
            <span class="text-muted">No se ha cargado contenido en esta secci&oacute;n.</span>
        {% endset %}
        {{ notificacion(null, msg, 'secondary', '' ) }}
    {% endif %}

{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    {% if planificacion.puedeEditarse() %}
        <script>

            $(document).ready(function () {

                $('.temario-selector').collection({
                    position_field_selector: '.posicion',
                    add: '<a href="#" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Agregar tema</a>',
                });
            });
        </script>
    {% endif %}




{% endblock %} 