{% set page_id = 5 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    
    {{ form_errors(form) }}

    {% form_theme form.temario 'jquery.collection.html.twig' 'PlanificacionesBundle:5-temario:form_theme-tema.html.twig'  %}
    {{ form_start(form) }}  

    {{ form_row(form.temario) }}

    <div class="form-row mt-3">
        <div class="col-xs-12 col-lg-4">

            {{ form_widget(form.submit) }}

        </div>
        {#<div class="col-xs-12 col-lg-8 text-right">
            {{ form_widget(form.reset) }}
        </div>#}
    </div>

    {{ form_end(form) }}  

{% endblock %} 


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('.temario-selector').collection({
                 position_field_selector: '.posicion',
                 add: '<a href="#" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Agregar tema</a>',
            });
        });
    </script>




{% endblock %} 