<div class="table-responsive shadow">
    <table class="table table-sm table-condensed table-hover mb-0 bg-white" id="tablaTemario">
        <thead>
        <tr class="bg-secondary text-white">
{#            <th scope="col" class="text-center">#</th>#}
            <th scope="col" class="text-center">Unidad</th>
            <th scope="col">Título</th>
            <th scope="col">Contenido</th>
            {#            <th scope="col" class="text-center">Actividades</th> #}
            <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr data-id-unidad="{{ tema.id }}" data-posicion="{{ tema.posicion }}">
{#                <td class="index align-middle text-center">#}
{#                    {{ loop.index }}#}
{#                </td>#}
                <td class="align-middle text-center">
                    {{ tema.unidad }}
                </td>
                <td class="w-25 font-weight-bold align-middle">
                    {{ tema.titulo }}
                </td>
                <td class="align-middle py-2 w-50">
                    <div class="texto-container d-inline">
                        {% if tema.contenido|length > 75 %}
                            <div class="txt-breve">
                                <span class="text-muted">{{ tema.contenido|slice(0, 75) }}...</span>
                                <a href="#" class="ver-mas" style="text-decoration: none;" title="Ver m&aacute;s">
                                    [+]
                                </a>
                            </div>
                            <div class="d-none txt-full">
                                <span class="text-muted">{{ tema.contenido|nl2br }}</span>
                                <a href="#" class="ver-menos text-secondary" style="text-decoration: none;"
                                   title="Ver menos">
                                    [-]
                                </a>
                            </div>
                        {% else %}
                            <div class="mt-1">
                                <span class="text-muted">{{ tema.contenido|nl2br }}</span>
                            </div>
                        {% endif %}
                    </div>
                </td>
                {#                <td class="align-middle text-center"> #}
                {#                    {{ tema.actividades|length }} #}
                {#                </td> #}
                <td class="align-middle text-center">
                    <a href="{{ path('planif_temario_ver', { id : tema.id }) }}"
                       class="btn btn-sm btn-outline-secondary" title="Ver registro">
                        <i class="fa fa-eye"></i>
                    </a>
                    {% if planificacion.puedeEditarse() %}
                        <a href="{{ path('planif_temario_editar', { id : tema.id }) }}"
                           class="btn btn-sm btn-outline-secondary" title="Editar registro">
                            <i class="fa fa-edit"></i>
                        </a>

                        {{ render(controller(
                            'PlanificacionesBundle:Temario:renderBtnBorrar',
                            { 'tema': tema, 'label' : null }
                        )) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>