{#% extends "FOSUserBundle::layout.html.twig" %#}
{% extends '::base.html.twig' %}
{% block title 'Login' %}
{% block metadesc %}Login
{% endblock %}
{% block pageid 'paginaLogin' %}


{% block content %}
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{{ asset(" bundles/app/images/fichgris.png") }}');">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Bienvenido a InfoFICH</h5>

                            <h1 class="h3 mb-3 font-weight-normal">Sistema de información institucional</h1>


                            {% block fos_user_content %}
                                {% if error %}
                                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}

                                <div class="container">

                                    <form action="{{ path("fos_user_security_check") }}" ="fos_user_security_check" )=")" }}""="}}" "" method="post" class="form-signin">

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                        <div
                                            class="form-group">

                                            {#<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label> #}
                                            <label for="username">Usuario</label>
                                            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required"/>

                                        </div>

                                        <div
                                            class="form-group">

                                            {#<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>#}
                                            <label for="password">Contraseña</label>
                                            <input type="password" class="form-control" id="password" name="_password" required="required"/>

                                        </div>

                                        <div class="form-check">

                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input"/>
                                            <label for="remember_me" class="form-check-label">
                                                Recordarme
                                            </label>
                                            {# {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} #}

                                        </div>

                                        <input
                                        type="submit" id="_submit" name="_submit" class="btn btn-primary" value="Acceder"/>
                                    {# value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}#}
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>{% endblock fos_user_content %}{% endblock content %}
