{{ form_start(form) }}

<div class="bg-light p-5 shadow">

    {# {{ dump(form) }} #}
    <div>
        {{ form_errors(form) }}
    </div>


    <div class="form-row">
        <div class="col-6">
       
            {{ form_label(form.tipo) }}
            {{ form_widget(form.tipo) }}
            {{ form_errors(form.tipo) }}
  
        </div>        

        <div class="col-12 col-md-3">
            {{ form_label(form.habilitado) }}
            {{ form_widget(form.habilitado) }}
            {{ form_errors(form.habilitado) }}
        </div>
        {% if form.fechaBaja is defined %}
            <div class="col-12 col-md-3">
                {% from '::macros.html.twig' import input_datetime_picker %}
                {{ input_datetime_picker(form.fechaBaja, 'fecha_baja_picker', true ) }}
            </div>
        {% endif %}

        
    </div>
    <div class="form-row">
        <div class="col-6">
             {{ form_label(form.marca) }}
            {{ form_widget(form.marca) }}
            {{ form_errors(form.marca) }}
        </div>
        <div class="col-6">
               {{ form_label(form.modelo) }}
            {{ form_widget(form.modelo) }}
            {{ form_errors(form.modelo) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
             {{ form_label(form.patente) }}
            {{ form_widget(form.patente) }}
            {{ form_errors(form.patente) }}
        </div>
        <div class="col-6">
            {{ form_label(form.descripcion) }}
            {{ form_widget(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
        </div>

    </div>
    <div class="form-row">
        <div class="col-4">
             {{ form_label(form.color) }}
            {{ form_widget(form.color) }}
            {{ form_errors(form.color) }}
        </div>
        <div class="col-4">
            {{ form_label(form.capacidad) }}
            {{ form_widget(form.capacidad) }}
            {{ form_errors(form.capacidad) }}
        </div>

        <div class="col-4">
            {{ form_label(form.combustible) }}
            {{ form_widget(form.combustible) }}
            {{ form_errors(form.combustible) }}
        </div>
    </div>
    
    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.chasisCasco) }}
            {{ form_widget(form.chasisCasco) }}
            {{ form_errors(form.chasisCasco) }}            
        </div>
        <div class="col-6">
            {{ form_label(form.asociado) }}
            {{ form_widget(form.asociado) }}
            {{ form_errors(form.asociado) }}  
           
        </div> 
    </div> 


</div>

{{ form_end(form) }}

