{% extends '::base.html.twig' %}

{% set full_width = false %}
{% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}
{% set ROLE_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}
{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('vehiculos_index') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>

            {# si el usuario tiene rol Sec de Infraestructura (secretario o colaborador), puede agregar Vehículos #}

            {% if app.user.tieneRol(ROL_SA) or app.user.tieneRol(ROLE_ADMIN) %}
                <a href="{{ path('vehiculos_new') }}" class="ml-3">
                    <i class="fa fa-plus"></i>

                    Nuevo Vehículo

                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

   <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>

        <h2 class="font-weight-bold text-primary">
            Vehículos de la FICH 
        </h2>
        <hr class="mt-0 border-primary mb-2 mb-lg-3" style="border-width: 2px;"/>
        
        {% from '::macros.html.twig' import notificacion %}

        <div class="bg-light">
            {% if vehiculos[0] is defined %}

                <div class="table-responsive shadow">
                    <table class="table table-condensed table-hover mb-0 bg-white">
                        <thead class="bg-primary text-light">
                            <tr>
				                <th>#</th>
                                <th>Tipo</th>
                                <th>Marca</th>                               
                                <th>Modelo/Nombre</th>                               
                                                               
                                <th>Asociado</th>                               
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>  
                        {% for vehiculo in vehiculos %}
                                <tr>
                                    <td class="align-middle">
                                        {{ loop.index }}                                    
                                    </td>
                                    <td>
                                        {{ vehiculo.tipo.nombre }}
                                        {# ver cual es#}
                                        {#{ vehiculo.tipoVehiculo.nombre }#}
                                    </td>
                                    <td>
                                        {{ vehiculo.marca }}
                                    </td>
                                    <td>
                                        {{ vehiculo.modelo }} -     {{ vehiculo.marca }}
                                    </td>
                                    <td>
                                        {{ vehiculo.asociado }} 
                                    </td>
                                    <td>
                                        <a href="{#{ path('docentes_adscriptos_show', { 'id': docenteAdscripto.id }) }#}"
                                           class="btn btn-sm btn-outline-secondary">
                                            Ver
                                        </a>
                                        {% if app.user.tieneRol(ROL_SA) %}
                                            <a href="{#{ path('docentes_adscriptos_edit', { 'id': docenteAdscripto.id }) }#}"
                                               class="btn btn-sm btn-outline-secondary">
                                                Editar
                                            </a>
                                        {% endif %}                                      
                                    </td>
                                </tr>
                     {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation mt-3 mb-5 centrate-x">
                    {#{ knp_pagination_render(docentes) }#}
                </div>



            {% else %}
                <div class="bg-light p-4">
                    No se encontro ning&uacute;n vehiculo cargado.
                </div>
            {% endif %}
             {#<tr>
				 <td class="align-middle">
                                  1
                                </td>
                                <td>Camioneta</td>
                                <td>Ford</td>                               
                                <td>Ranger XLT 3.0 TDI DC 4x2</td>                               
                                                        
                                           
                                <td>-</td>                               
                               <td>
                                      <a class="btn btn-sm btn-primary" href="{{ path('vehiculos_show', { 'id': 1 }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('vehiculos_edit', { 'id': 1}) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
				 <td class="align-middle">
                                   2
                                </td>                               
				<td>Camioneta</td>
                                <td>Volswagen</td>                               
                                <td>Amarok</td>                               
                                                 
                                                 
                                <td>-</td>                               
                                
                               <td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>                               	
 <td class="align-middle">
                                   3
                                </td>
                               <td>Embarcación</td>
                                <td>Virgin Marine</td>                               
                                <td>Modelo 628 Trakker / Azimut</td>                               
                                                   
                                                     
                                <td>1</td>                               
                                
                               <td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                              		 		 	

                            <tr>                               	
 <td class="align-middle">
                                    4
                                </td>
                               <td>Embarcación</td>
                                <td>Astillero Rio-Tec Marca RT 460 serie LX A</td>                               
                                <td>FICH I</td>                               
                                              
                                                     
                                <td>2</td>                               
                                
                            <td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
		 
                            <tr>          
 <td class="align-middle">
                                    5
                                </td>                     	
                               <td>Embarcación</td>
                                <td>Astillero Seamax</td>                               
                                <td>FICH II</td>                               
                                      
                                                 
                                <td>3</td>                               
                                
                              <td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>          
				<td class="align-middle"> 6
                                   
                                </td>   
                   	
                               <td>Trailer</td>
                                <td>-</td>                               
                                <td>Trailer T1</td>                               
                                 
                                                           
                                <td>2</td>                               
                                
				<td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>        
 <td class="align-middle">
                                  7
                                </td>                       	
                               <td>Trailer</td>
                                <td>-</td>                               
                                <td>Trailer T2</td>                               
                              
                                                          
                                <td>1</td>                               
                                
                                <td>
                                      <a class="btn btn-sm btn-primary" href="{#{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                    {% if app.user.tieneRol(ROL_SA) %}
                                        <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    {% endif %}
                                </td>
                            </tr> #}
                            
        </div>
    </div>


{% endblock %}
