{% extends '::base.html.twig' %}

{% set full_width = false %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('vehiculos_listado') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>


        {% include 'VehiculosBundle:Vehiculo:form.html.twig' %}

        {% embed '::botonera.html.twig' %}

            {% block left %}
                <a href="{{ path('vehiculos_edit', { 'id': vehiculo.id }) }}"
                   class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    Editar
                </a>
                <a href="{{ path('vehiculos_listado') }}"
                   class="btn btn-secondary">
                    Ir al listado
                </a>
            {% endblock %}

            {% block right %}
                {{ form_start(delete_form) }}
                <button role="submit" class="btn btn-danger pedir-confirmacion"
                        data-msg='¿Esta seguro que desea borrar el vehiculo <b>{{ vehiculo.descripcion }}</b>?'>
                    <i class="fa fa-trash"></i>&nbsp;Borrar
                </button>
                {{ form_end(delete_form) }}
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

        });
    </script>


{% endblock %}
