{% block planif_resultado_widget %}
    <div class="mb-5">
        <div class="form-row">
            <div class="col-12">
                {{ form_label(form.resultado) }}            
                {{ form_widget(form.resultado) }}
                {{ form_errors(form.resultado) }}
                {#                {{ dump(form) }}#}
            </div>
        </div>

        {{ form_row(form.posicion) }}


        <div class="form-row">
            <div class="form-group col-4 pl-0">
                <a href="#" class="collection-add btn btn-sm btn-primary ml-1" title="Agregar registro">
                    <i class="fa fa-plus"></i> Agregar
                </a>

            </div>

            <div class="col-8 text-right">
                <a href="#" class="collection-up btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-up"></i>
                </a>

                <a href="#" class="collection-down btn btn-sm btn-outline-secondary ml-1">
                    <i class="fa fa-arrow-down"></i>
                </a>

                <a href="#" class="collection-remove btn btn-sm btn-outline-danger ml-1" title="Borrar registro">
                    <i class="fa fa-trash"></i> Borrar
                </a>


                {#<div class="col-md-1">
                    <a href="#" class="collection-duplicate btn btn-sm btn-primary">Duplicate</a>
                </div>#}
            </div>
        </div> 


    </div>         
{% endblock %}