<div class="p-5 bg-light shadow">

    {{ form_start(form) }}

    <div class="form-row">
        <div class="col-12 col-md-4">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}      
        </div>   
        <div class="col-12 col-md-4">
            {{ form_label(form.apellidos) }}
            {{ form_widget(form.apellidos) }}
            {{ form_errors(form.apellidos) }}      
        </div>
        <div class="col-12 col-md-4">
            {{ form_label(form.nombres) }}
            {{ form_widget(form.nombres) }}
            {{ form_errors(form.nombres) }}                              
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <button role="submit" class="btn btn-success">
                <i class="fa fa-filter"></i>&nbsp;Buscar
            </button>
        </div>
        <div class="col-xs-12 offset-4 col-sm-4 text-right">
            <a href="{{ path('usuarios_index') }}" class="btn btn-secondary">
                <i class="fa fa-times"></i>&nbsp;Limpiar filtros
            </a>
        </div>
    </div>




    {{ form_end(form) }}
</div>
