{% extends '::base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}    
        {% block navbar2_actions %}
            <a href="{{ path('usuarios_new') }}" class="">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;
                Nuevo usuario
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}  



{% block content %}

    <div class="px-lg-5">

        <div class="">
            {% include '::notificaciones.html.twig' %}
        </div>

        <div class="">

            <div class="mb-3">
                {% include '@App/usuario/form-buscador.html.twig' %}                    
            </div>

            {% if usuarios[0] is defined %}

                <div class="bg-white mb-3 p-3 text-muted">
                    Se encontraron: <b>{{ usuarios.getTotalItemCount }}</b> usuario(s)
                </div>


                <div class="table-responsive shadow">
                    <table class="table table-condensed table-hover mb-0 bg-white">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th>#</th>
                                <th>Nombre de usuario</th>
                                <th>Apellido y nombre</th>                                                                                                                      
                                <th>Correo electrónico</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>
                                        {{ usuario.username }}
                                    </td>
                                    <td>{{ usuario.persona }}</td>                                                           
                                    <td>{{ usuario.persona.email }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{ path('usuarios_show', { 'id': usuario.id }) }}">
                                            <i class="fa fa-eye"></i>&nbsp;Ver
                                        </a>
                                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                            <i class="fa fa-edit"></i>&nbsp;Editar
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="navigation my-4 centrate-x">                        
                    {{ knp_pagination_render(usuarios) }}
                </div>

            </div>
        </div>

    {% else %}
        <div class="bg-white p-3 text-muted">
            No se encontró ningún usuario.
        </div>
    {% endif %}

{% endblock %}
