{% extends 'base.html.twig' %}

{% block navbar2 %}     
    {% embed 'navbar2.html.twig' %}         
        {% block navbar2_actions %}     
            <a href="{{ path('usuarios_index') }}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="px-lg-5">

            <div class="my-3">
                {% include '::notificaciones.html.twig' %}
            </div>

            <div class="bg-light p-5">
                {% embed 'AppBundle:usuario:form.html.twig' %}

                    {% block botones_left %}
                        <input type="submit" value="Crear usuario" class="btn btn-primary" />
                    {%endblock %}

                    {% block botones_right %}
                        <a href="{{ path('usuarios_index') }}" class="btn btn-outline-secondary">Cancelar</a>
                    {%endblock %}

                {% endembed %}

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    
    <script src="{{ asset('bundles/app/js/roles.js') }}" ></script>

    <script>
        $(document).ready(function () {


            $('#usuario_roles').select2({
                'multiple': true
            });


            var url_rol_as_json = "{{ path('rol_get_rol_as_json', {'id': 'ID_ROL'}) }}";
            var url_edit_rol = "{{ path('rol_edit', {'id': 'ID_ROL'}) }}";

            $('.consultar-permisos').click(function (e) {
                e.preventDefault();

                var id_rol = $(e.target).data('id-rol');
                var c_url_rol_as_json = url_rol_as_json.replace('ID_ROL', id_rol);
                var c_url_edit_rol = url_edit_rol.replace('ID_ROL', id_rol);


                ajaxGetRolAsJson(c_url_rol_as_json, c_url_edit_rol);

            });


        });

    </script>


{% endblock %}