{% extends 'base.html.twig' %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('usuarios_index') }}">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Volver al listado
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="px-lg-5">

            <div class="">
                {% include '::notificaciones.html.twig' %}
            </div>

            <h2 class="font-weight-bold text-primary">
                {{ usuario.persona.getApeNom() }}
            </h2>
            <hr class="mt-0 border-primary mb-2 mb-lg-3" style="border-width: 2px;"/>

            <div class="">
                {% include 'AppBundle:usuario:form.html.twig' %}

                {% embed '::botonera.html.twig' %}

                    {% block left %}
                        <a class="btn btn-primary" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">
                            <i class="fa fa-edit"></i>&nbsp;Editar
                        </a>
                    {% endblock %}
                    {% block right %}
                        <a href="{{ path('usuarios_index') }}" class="btn btn-secondary">Ir al listado</a>
                        {{ form_start(delete_form) }}
                        <button role="submit" class="btn btn-danger pedir-confirmacion"
                                data-msg='¿Esta seguro que desea borrar este usuario?'>
                            <i class="fa fa-trash"></i>&nbsp;Borrar
                        </button>
                        {{ form_end(delete_form) }}
                    {% endblock %}

                {% endembed %}

            </div>

        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {


        });

    </script>


{% endblock %}

