{{ form_start(form) }}
<div class="form-row">
    <div class="form-group col-md-3 col-xs-12">
        {{ form_label(form.totalCargaHorariaAula) }}
        {{ form_widget(form.totalCargaHorariaAula) }}                              
    </div>
    <div class="form-group col-md-3 col-xs-12">
        {{ form_label(form.totalCargaHorariaAutonomo) }}
        {{ form_widget(form.totalCargaHorariaAutonomo) }}
    </div>
</div>

<div class="form-row">    
    <div class="form-group col-md-3 col-xs-12">
        {{ form_label(form.totalFormacionPractica) }}
        {{ form_widget(form.totalFormacionPractica) }}                       
    </div>                    
</div>
<div class="form-row">
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.totalFormacionExperimental) }}
        {{ form_widget(form.totalFormacionExperimental) }}
    </div>

    <div class="form-group col-sm-6 col-xs-12">
        <div>
            {{ form_label(form.cantHsResolProbIng) }}
            {{ form_widget(form.cantHsResolProbIng) }}
            {{ form_errors(form.cantHsResolProbIng) }} 
        </div>
    </div> 
</div>

<div class="form-row">
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsEjRutinarios) }}
        {{ form_widget(form.cantHsEjRutinarios) }}
        {{ form_errors(form.cantHsEjRutinarios) }} 
    </div>  

    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsActProyDisenio) }}
        {{ form_widget(form.cantHsActProyDisenio) }}
        {{ form_errors(form.cantHsActProyDisenio) }} 
    </div> 
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsPracticaProfSup) }}
        {{ form_widget(form.cantHsPracticaProfSup) }}
        {{ form_errors(form.cantHsPracticaProfSup) }} 

    </div> 
</div>

<div class="form-row">
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsTeoria) }}
        {{ form_widget(form.cantHsTeoria) }}
        {{ form_errors(form.cantHsTeoria) }} 
    </div>    
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsConsulta) }}
        {{ form_widget(form.cantHsConsulta) }}
        {{ form_errors(form.cantHsConsulta) }} 
    </div> 
    <div class="form-group col-sm-3 col-xs-12">
        {{ form_label(form.cantHsEvaluacion) }}
        {{ form_widget(form.cantHsEvaluacion) }}
        {{ form_errors(form.cantHsEvaluacion) }} 
    </div> 
</div>

<div class="form-row">
    <div class="col-xs-12 col-sm-4">
        {{ form_widget(form.submit) }}
    </div>
    <div class="col-xs-12 offset-4 col-sm-4 text-right">
        {{ form_widget(form.reset) }}
    </div>
</div>
{{ form_end(form) }}