{% extends '::base.html.twig' %}

{% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}
{% set ROLE_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}
{% set ROL_SI = constant('AppBundle\\Entity\\Rol::ROLE_SEC_INFRAESTRUCTURA') %}

{% set full_width = false %}

{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('homepage') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="px-lg-5">

        <div class="bg-white px-5 pt-5 pb-3">

            {#        <p class="lead">Seleccione una opci&oacute;n:</p> #}


            {#<div class="row">
              {% if app.user.tieneRol(ROLE_ADMIN) or app.user.tieneRol(ROL_SI) %}
                <div class="col-12 col-md-4">
                    <a href="{{ path('tipo_vehiculos_listado') }}"
                       class="btn btn-outline-primary  d-inline-block w-100 p-4">
                        TIPO DE VEHÍCULOS
                        <img class="img-fluid w-25" alt="tipo_vehiculo" src="{{ asset('bundles/app/images/tipo_vehiculo.png') }}"/>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="{{ path('vehiculos_listado') }}"
                       class="btn btn-outline-primary d-inline-block w-100 p-4">
                        LISTADO DE VEHÍCULOS
                        <img class="img-fluid w-25" alt="listado_vehiculo" src="{{ asset('bundles/app/images/listado_vehiculo.png') }}"/>
                    </a>
                </div>
                {% endif %}
                <div class="col-12 col-md-4">
                    <a href="{{ path('reservas_listado') }}"
                       class="btn btn-outline-primary  d-inline-block w-100 p-4">
                        RESERVA DE VEHÍCULOS
                        <img class="img-fluid w-25" alt="reserva" src="{{ asset('bundles/app/images/reserva.png') }}"/>
                    </a>
                </div>
            </div>#}

            <div class="card-deck modulos">
                {#  VEHICULOS  ======================================================================================== #}
                {% if app.user.tieneRol(ROLE_ADMIN) or app.user.tieneRol(ROL_SI) %}
                    {#  TIPO DE VEHICULOS  =========================== #}
                    {%
                    set attrs = {
                        'title' : 'Tipo de vehículos',
                        'descripcion' : 'Alta, bajas, modificaciones y búsquedas de tipos de vehículos.',
                        'button_href' : path('tipo_vehiculos_listado')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <img class="img-fluid w-50 mx-auto" alt="tipo_vehiculo" src="{{ asset('bundles/app/images/tipo_vehiculo.png') }}"/>
                        {% endblock %}
                    {% endembed %}
                    {#  VEHICULOS  =========================== #}
                    {%
                    set attrs = {
                        'title' : 'Vehículos',
                        'descripcion' : 'Alta, bajas, modificaciones y búsquedas de vehículos.',
                        'button_href' : path('vehiculos_listado')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <img class="img-fluid w-50 mx-auto" alt="tipo_vehiculo" src="{{ asset('bundles/app/images/listado_vehiculo.png') }}"/>
                        {% endblock %}
                    {% endembed %}

                {% endif %}
                    {#  RESERVA =========================== #}
                    {%
                    set attrs = {
                        'title' : 'Reservas',
                        'descripcion' : 'Alta, bajas, modificaciones y búsquedas de reservas.',
                        'button_href' : path('reservas_listado')
                    }
                    %}
                    {% embed 'AppBundle::modulo.html.twig' with attrs %}
                        {% block icono %}
                            <img class="img-fluid w-50 mx-auto" alt="tipo_vehiculo" src="{{ asset('bundles/app/images/reserva.png') }}"/>
                        {% endblock %}
                    {% endembed %}
            </div>

        </div>
    </div>
{% endblock %}
