{% set page_id = 3 %}

{% extends "PlanificacionesBundle::planif-base.html.twig" %}

{% block tab_content %}

    <div class="row">
        <div class="col-12 col-lg-10">

            <div class="alert alert-light text-dark shadow-sm mb-3 mb-lg-4 py-3">
                {{ form_start(form_ec) }}
                <div class="row">
                    <div class="col-12 col-md-4 align-self-center text-right ">
                        <span class="font-weight-bold text-secondary">
                            ¿Utiliza evaluación continua?
                        </span>
                        <sup><i class="fa fa-info-circle text-dark small ml-1 text" aria-hidden="true"
                                data-toggle="tooltip"
                                data-html="true"
                                title="La metodología de evaluación continua es utilizada por algunas asignaturas y solo exige definir un único parcial y su respectivo recuperatorio para la regularización de la asignatura."></i>
                        </sup>
                    </div>

                    <div class="col-10 col-md-6 align-self-center pl-3 pl-lg-4 fix-estilo-radio">
                        {{ form_widget(form_ec.utilizaEvalContinua) }}
                    </div>

                    <div class="col-2 align-self-center text-right">
                        <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                                data-target="#divDescEvalContinua"
                                aria-expanded="false" aria-controls="divDescEvalContinua">
                            <i class="fa fa-caret-down text-dark" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row mt-3 collapse" id="divDescEvalContinua">
                    <div class="col-12 col-md-4 align-self-start text-right">
                        <span class="font-weight-bold text-secondary">
                            Metodología de enseñanza
                        </span>
                    </div>
                    <div class="col-12 col-md-8 align-self-center pl-3 pl-lg-4">
                        {{ form_widget(form_ec.descEvalContinua) }}
                        {{ form_errors(form_ec.descEvalContinua) }}
                    </div>
                    {% if planificacion.puedeEditarse() %}
                        <div class="col-12 text-right mt-3">
                            <a href="{{ path('planif_aprobacion_actualizar_utiliza_ec_edit', { id : planificacion.requisitosAprobacion.id }) }}"
                               class="btn btn-sm btn-outline-success">
                                <i class="fa fa-edit"></i>&nbsp;Modificar
                            </a>
                        </div>
                    {% endif %}
                </div>

                {{ form_end(form_ec) }}
            </div>
        </div>
    </div>


    {% if planificacion.requisitosAprobacion.utilizaEvalContinua is not null %}
        <div class="row">
            <div class="col-12 col-lg-10">
                {% include "PlanificacionesBundle:3-aprobacion-asignatura:form.html.twig" %}
            </div>
        </div>
    {% endif %}


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function () {
            onChangePreveIntegrador();

            $('#form-eval-continua input').on('change', function () {
                var val = $(this).val();
                console.log(val);

                if (val == 1) {
                    $('#divDescEvalContinua').removeClass('d-none').fadeIn();
                } else {
                    $('#divDescEvalContinua').addClass('d-none').fadeOut();
                }

                $("#form-req-aprobacion input").prop("disabled", true);
                $("#form-req-aprobacion").fadeOut();
                $("#btnSubmitFormEvalCont").removeClass('btn-outline-success').addClass('btn-success');
                $("#btnSubmitFormEvalCont").tooltip('show');

            });


            var errorsTab1 = $('#pills-req-regul .field-error').length;
            if (errorsTab1 > 0) {
                $('#pills-req-regul-tab .icono-hay-errores').removeClass('d-none');
            }

            var errorsTab2 = $('#pills-req-promo .field-error').length;
            if (errorsTab2 > 0) {
                $('#pills-req-promo-tab .icono-hay-errores').removeClass('d-none');
            }

            var errorsTab3 = $('#pills-examen-final .field-error').length;
            if (errorsTab3 > 0) {
                $('#pills-examen-final-tab .icono-hay-errores').removeClass('d-none');
            }

        });

        /*
         * Funcion llamada desde el onchage de las opciones de PreveProm
         */
        function onChangePreveIntegrador(e) {
            //Si hizo click en Si debe aparecer la Div con la clase prevePromDiv
            //Caso contrario ocultar la Div PrevePromDiv
            var radioValue = $("input[name='planificacionesbundle_planificacion[preveCfi]']:checked").val();

            if (radioValue == 1) {
                $(".preveCfiDiv").hide().removeClass('d-none').fadeIn();
                //Agregamos la clase required en el campo fecha parcial integrador
                $("input[name='planificacionesbundle_planificacion[fechaParcailCfi]']").prop('required', true);


            } else {
                $(".preveCfiDiv").addClass('d-none');

                $("input[name='planificacionesbundle_planificacion[fechaParcailCfi]']").removeAttr('required', false);
            }

        }
    </script>

{% endblock %}
