{{ form_start(form) }}

<div class="mb-4">
    <h4>Requisitos para la aprobaci&oacute;n de la asignatura</h4>
</div>

<div class="row">
    <div class="form-group col-sm-2 col-xs-12">
        <label for="responsable">{{ form_label(form.porcentajeAsistencia) }}</label>
    </div>
    <div class="form-group col-sm-3 col-xs-12 ">     <!--form-group offset-2 col-xs-12 col-sm-3-->
        {{ form_widget(form.porcentajeAsistencia) }}
        {{ form_errors(form.porcentajeAsistencia) }}      
    </div>
</div>

<!-- Parciales -->
<div class="row">
    <div class="form-group col-sm-2 col-xs-12">
        <label for="responsable">Parciales</label>
    </div>
    <div class="form-group col-sm-3 col-xs-12">
        {% from '::macros.html.twig' import input_datetime_picker %}     
        {{  input_datetime_picker(form.fechaPrimerParcial, 'fecha_1er_parcial_picker', true ) }}      

    </div>
    <div class="form-group col-sm-3 col-xs-12">
        {% from '::macros.html.twig' import input_datetime_picker %}     
        {{  input_datetime_picker(form.fechaSegundoParcial, 'fecha_2do_parcial_picker', true ) }} 
    </div>

</div>

<!-- Recuperatorios -->
<div class="row">
    <div class="form-group col-sm-2 col-xs-12">
        <label for="responsable">Recupetarios</label>
    </div>
    <div class="form-group col-sm-3 col-xs-12">    
        {% from '::macros.html.twig' import input_datetime_picker %}     
        {{  input_datetime_picker(form.fechaRecupPrimerParcial, 'fecha_recu_1er_parcial_picker', true ) }} 
    </div>
    <div class="form-group col-sm-3 col-xs-12">
        {% from '::macros.html.twig' import input_datetime_picker %}     
        {{  input_datetime_picker(form.fechaRecupSegundoParcial, 'fecha_recu_2do_parcial_picker', true ) }} 
    </div>

</div>

<div class="mb-2 mt-2">
    <h4>Requisitos para la promoción de la asignatura</h4>
</div>

<div class="row mb-2">
    <div class="form-group mb-0 offset-2 col-sm-3 col-xs-12">
        <label>¿Prevé promoción?</label>
        <div id="preveeProm" class="formato-inputs-groups">
            <div class="d-inline-block">
                {{ form_widget(form.prevePromParcialTeoria) }}
                {{ form_label(form.prevePromParcialTeoria) }}        
                {{ form_errors(form.prevePromParcialTeoria) }} 
            </div>

            <div class="d-inline-block">
                {{ form_widget(form.prevePromParcialPractica) }}
                {{ form_label(form.prevePromParcialPractica) }}        
                {{ form_errors(form.prevePromParcialPractica) }}   
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="offset-2 col-sm-4 col-xs-12 formato-inputs-groups ">
        {{ form_label(form.preveCfi) }}
        {{ form_widget(form.preveCfi) }}
        {{ form_errors(form.preveCfi) }} 
    </div>
</div>

<div class="preveCfiDiv {{  (planificacion.requisitosAprobacion is not null and planificacion.requisitosAprobacion.preveCfi) ? '' : 'd-none' }}">
    <div class="row mb-2">
        <div class="offset-2 col-sm-3 col-xs-12">
            {% from '::macros.html.twig' import input_datetime_picker %}     
            {{  input_datetime_picker(form.fechaParcailCfi, 'fecha_cfi_picker', true ) }}
        </div>
        <div class="col-sm-3 col-xs-12">
            {% from '::macros.html.twig' import input_datetime_picker %}     
            {{  input_datetime_picker(form.fechaRecupCfi, 'fecha_recup_cfi_picker', true ) }}
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-md-6 col-sm-6 col-xs-12">
            {{ form_label(form.modalidadCfi) }}
            {{ form_widget(form.modalidadCfi) }}
            {{ form_errors(form.modalidadCfi) }}  
        </div>
    </div>
</div>

<div class="mb-2">
    <h4> Exámen final</h4>
</div>

<div class="row">
    <div class="form-group offset-2 col-sm-6 col-xs-12">   
        {{ form_label(form.examenFinalModalidadRegulares) }}
        {{ form_widget(form.examenFinalModalidadRegulares) }}
        {{ form_errors(form.examenFinalModalidadRegulares) }}  
    </div>
</div>    

<div class="row">
    <div class="form-group offset-2 col-sm-6 col-xs-12">
        {{ form_label(form.examenFinalModalidadLibres) }}      
        {{ form_widget(form.examenFinalModalidadLibres) }}
        {{ form_errors(form.examenFinalModalidadLibres) }}  
    </div>
</div>   

{% if planificacion.puedeEditarse() %}
    <div class="form-row">
        <div class="col-xs-12 col-sm-2">            
            <input type="submit" value="Guardar cambios" class="btn btn-success"/>      
        </div>
{#        <div class="col-xs-12 offset-6 col-sm-2 text-right">            
            <input type="reset" class="btn btn-secondary" value="Limpiar campos"/>
        </div>#}
    </div>
{% endif %}

{{ form_end(form) }}