{{ form_start(form) }}

<div class="bg-light p-5 shadow">

    {# {{ dump(form) }} #}
    <div>
        {{ form_errors(form) }}
    </div>



    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.docente) }}
            {{ form_widget(form.docente) }}
            {{ form_errors(form.docente) }}

        </div>
        <div class="col-6">
            {{ form_label(form.vehiculo) }}
            {{ form_widget(form.vehiculo) }}
            {{ form_errors(form.vehiculo) }}

        </div>
    </div>
    <div class="form-row">

        <div class="col-6">            
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaInicio, form.fechaInicio.vars.id ~ '_picker', true ) }}    
               

        </div>

        <div class="col-6">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaFin, form.fechaFin.vars.id ~ '_picker', true ) }}            

        </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.estado) }}
            {{ form_widget(form.estado) }}
            {{ form_errors(form.estado) }}
        </div>
        <div class="col-6">
            {{ form_label(form.cantidadPersonas) }}
            {{ form_widget(form.cantidadPersonas) }}
            {{ form_errors(form.cantidadPersonas) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-6">
           {{ form_label(form.elementosExtras) }}
           {{ form_widget(form.elementosExtras) }}
           {{ form_errors(form.elementosExtras) }}
        </div>     
    </div>

</div>



{% block tabla_planificaciones %}
{% endblock %}


</div>

{{ form_end(form) }}