{{ form_start(form) }}

<div class="bg-light p-5 shadow">

    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.docente) }}
            {{ form_widget(form.docente) }}
            {{ form_errors(form.docente) }}
        </div>
        <div class="col-6">
            {{ form_label(form.vehiculo) }}
            {{ form_widget(form.vehiculo) }}
            {{ form_errors(form.vehiculo) }}
        </div>
    </div>
    <div class="form-row">

        <div class="col-12 col-md-3">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaInicio, form.fechaInicio.vars.id ~ '_picker', false ) }}
        </div>

        <div class="col-12 col-md-3">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaFin, form.fechaFin.vars.id ~ '_picker', false ) }}
        </div>

        {#<div class="col-12 col-md-3">
            {{ form_label(form.estado) }}
            {{ form_widget(form.estado) }}
            {{ form_errors(form.estado) }}
        </div>#}

        <div class="col-12 col-md-3">
            {{ form_label(form.cantidadPersonas) }}
            {{ form_widget(form.cantidadPersonas) }}
            {{ form_errors(form.cantidadPersonas) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            {{ form_label(form.elementosExtras) }}
            {{ form_widget(form.elementosExtras) }}
            {{ form_errors(form.elementosExtras) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            {{ form_label(form.motivo) }}
            {{ form_widget(form.motivo) }}
            {{ form_errors(form.motivo) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-md-4">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaAlta, form.fechaAlta.vars.id ~ '_picker', false ) }}
        </div>
        <div class="col-12 col-md-8">
            {{ form_label(form.usuarioAlta) }}
            {{ form_widget(form.usuarioAlta) }}
            {{ form_errors(form.usuarioAlta) }}
        </div>
    </div>

</div>

{{ form_end(form) }}
