{% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}
{% set ROLE_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}


{% block content %}    


{{ form_start(form) }}

<div class="bg-light p-5 shadow">

    <div class="form-row">
        <div class="col-6">
            {{ form_label(form.docente) }}
            {{ form_widget(form.docente) }}
            {{ form_errors(form.docente) }}
        </div>        
    </div>



<div class="mb-5">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2">
            <span class="font-weight-bold">
                Vehiculos
            </span>
        </div>
        <div class="col-12 col-md-9 col-lg-8">
            {% form_theme form.vehiculos 'jquery.collection.html.twig' 'VehiculosBundle:Reserva:vehiculos-widget.html.twig'  %}
            {{ form_row(form.vehiculos) }}
            {#% if planificacion.docentesColaboradores[0] is defined %}
                {% form_theme form.docentesColaboradores 'jquery.collection.html.twig' 'PlanificacionesBundle:2-equipo-docente:form_theme-equipo-docente.html.twig'  %}
                {{ form_row(form.docentesColaboradores) }}
            {% else %}
                <p class="text-muted">
                    No se ha definido ning&uacute;n docente colaborador.
                </p>
            {% endif %#}

        </div>
    </div>
</div>



    {#% block planif_vehiculo_widget %}
        {% include 'VehiculosBundle:Reserva:vehiculos-widget.html.twig' %}
    {% endblock %}

   {# <div class="form-row">
       <div class="col-6">
            {{ form_label(form.vehiculo.asociado) }}
            {{ form_widget(form.vehiculo.asociado) }}
            {{ form_errors(form.vehiculo.asociado) }}
        </div>
    </div> #}
    <div class="form-row">
        <div class="col-12 col-md-3">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaInicio, form.fechaInicio.vars.id ~ '_picker', false ) }}
        </div>

        <div class="col-12 col-md-3">
            {% from '::macros.html.twig' import input_datetime_picker %}
            {{ input_datetime_picker(form.fechaFin, form.fechaFin.vars.id ~ '_picker', false ) }}
        </div>



        <div class="col-12 col-md-3">
            {{ form_label(form.cantidadPersonas) }}
            {{ form_widget(form.cantidadPersonas) }}
            {{ form_errors(form.cantidadPersonas) }}
        </div>
        <div class="col-12 col-md-3">
            {{ form_label(form.tipoProyecto) }}
            {{ form_widget(form.tipoProyecto) }}
            {{ form_errors(form.tipoProyecto) }}
        </div>
        
    </div>
    <div class="form-row">
        <div class="col-12">
            {{ form_label(form.elementosExtras) }}
            {{ form_widget(form.elementosExtras) }}
            {{ form_errors(form.elementosExtras) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            {{ form_label(form.motivo) }}
            {{ form_widget(form.motivo) }}
            {{ form_errors(form.motivo) }}
        </div>
    </div>
    {#% if app.user.tieneRol(ROLE_ADMIN) %#}

        <div class="form-row">
            <div class="col-12 col-md-4">
                {% from '::macros.html.twig' import input_datetime_picker %}
                {{ input_datetime_picker(form.fechaAlta, form.fechaAlta.vars.id ~ '_picker', false ) }}
            </div>
            <div class="col-12 col-md-8">
                {{ form_label(form.usuarioAlta) }}
                {{ form_widget(form.usuarioAlta) }}
                {{ form_errors(form.usuarioAlta) }}
            </div>
        </div>
    {#% endif %#}
</div>

{{ form_end(form) }}
{% endblock %} 