{{ form_start(form) }}

<div class="form-row">
    {{ form_label(form.objetivosGral) }}
    {{ form_widget(form.objetivosGral) }}
    {{ form_errors(form.objetivosGral) }}      
</div>

<div class="form-row mt-4">
    {{ form_label(form.objetivosEspecificos) }}
    {{ form_widget(form.objetivosEspecificos) }}
    {{ form_errors(form.objetivosEspecificos) }}      
</div>

{% if planificacion.puedeEditarse() %}
    <div class="form-row">
        <div class="col-xs-12 col-sm-2">            
            <input type="submit" value="Guardar cambios" class="btn btn-success"/>      
        </div>
{#        <div class="col-xs-12 offset-6 col-sm-2 text-right">            
            <input type="reset" class="btn btn-secondary" value="Limpiar campos"/>
        </div>#}
    </div>
{% endif %}

{{ form_end(form) }}