{% extends '::base.html.twig' %}

{% set full_width = false %}
{% set ROL_SA = constant('AppBundle\\Entity\\Rol::ROLE_SEC_ACADEMICA') %}
{% set ROLE_ADMIN = constant('AppBundle\\Entity\\Rol::ROLE_ADMIN') %}
{% block navbar2 %}
    {% embed 'navbar2.html.twig' %}
        {% block navbar2_actions %}
            <a href="{{ path('vehiculos_index') }}" class="">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;
                Volver
            </a>

            {# si el usuario tiene rol Sec de Infraestructura (secretario o colaborador), puede agregar Vehículos #}

            {% if app.user.tieneRol(ROL_SA) or app.user.tieneRol(ROLE_ADMIN) %}
                <a href="{{ path('tipo_vehiculos_new') }}" class="ml-3">
                    <i class="fa fa-plus"></i>

                    Nuevo Tipo de Vehículo

                </a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}

    <div class="pb-5">

        <div class="my-3">
            {% include '::notificaciones.html.twig' %}
        </div>

        <h2 class="font-weight-bold text-primary">
            Tipos de Vehículos de la FICH 
        </h2>
        <hr class="mt-0 border-primary mb-2 mb-lg-3" style="border-width: 2px;"/>

        {% from '::macros.html.twig' import notificacion %}

        <div class="bg-light">
            {% if tiposVehiculos[0] is defined %}

            <div class="table-responsive shadow">
                <table class="table table-condensed table-hover mb-0 bg-white">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th> 
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody> 
                    {% for tipoVehiculo in tiposVehiculos %} 
                        <tr>
                            <td class="align-middle">
                                {{ loop.index }}
                            </td>
                            <td>{{ tipoVehiculo.nombre }}</td>
                            <td>{{ tipoVehiculo.descripcion }}</td>                         
                            <td>                               
                                {#% if app.user.tieneRol(ROL_SA) %#}
                                    <a href="{{ path('tipo_vehiculos_edit', { 'id': tipoVehiculo.id }) }}"
                                                       class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                        Ver/Editar
                                    </a>

                                    <a href="{{ path('tipo_delete', { 'id': tipoVehiculo.id }) }}" class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('¿Esta seguro que desea borrar el vehículo <b>{{ tipoVehiculo.nombre }}</b>?'')">
                                                            <i class="fa fa-trash"></i>
                                                            Eliminar
                                    </a>
                                    
                                    <button role="submit" class="btn btn-danger confirmar-borrado"
                                        data-msg='¿Esta seguro que desea borrar el vehículo <b>{{ tipoVehiculo.nombre }}</b>?'>
                                        <i class="fa fa-trash"></i>&nbsp;Borrar
                                    </button>
                                    
                                {#% endif %#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>



            {% else %}
                <div class="bg-light p-4">
                    No se encontró ning&uacute;n tipo de vehículo cargado.
                </div>
            {% endif %}
        </div>
    </div>

{#<!-- parte harcodeada
                         <tr>
                            <td class="align-middle">
                                2
                            </td>
                            <td>Embarcación	</td>
                            <td>xxxx</td>                         
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('usuarios_show', { 'id': usuario.id }) }}">
                                    <i class="fa fa-eye"></i>&nbsp;Ver
                                </a>
                                {% if app.user.tieneRol(ROL_SA) %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{#{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                        <i class="fa fa-edit"></i>&nbsp;Editar
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        
                         <tr>
                            <td class="align-middle">
                                3
                            </td>
                            <td>Trailer</td>
                            <td>xxxx</td>                         
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('usuarios_show', { 'id': usuario.id }) }}">
                                    <i class="fa fa-eye"></i>&nbsp;Ver
                                </a>
                                {% if app.user.tieneRol(ROL_SA) %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                        <i class="fa fa-edit"></i>&nbsp;Editar
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                         <tr>
                            <td class="align-middle">
                                4
                            </td>
                            <td>Motor</td>
                            <td>xxxx</td>                         
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('usuarios_show', { 'id': usuario.id }) }}">
                                    <i class="fa fa-eye"></i>&nbsp;Ver
                                </a>
                                {% if app.user.tieneRol(ROL_SA) %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">
                                        <i class="fa fa-edit"></i>&nbsp;Editar
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
-->

                    </tbody>
                </table>
            </div>
            <div class="navigation mt-3 mb-5 centrate-x">
                {#{ knp_pagination_render(docentes) }#}
{% endblock %}
